@charset "utf-8";
/* CSS Document */


.ItemView-compoundItemViewer.CompoundItemViewer-nonprintable {
    flex-wrap: wrap !important;
    display: flex;
    overflow: auto hidden;
	flex-direction: column;
}

.CompoundItemView-container {
    background-color: white;
}

.CompoundItemView-header {
    text-align: center;
    font-size: 14px;
    text-decoration: underline;
    white-space: nowrap;
}

.CompoundItemViewer-nonprintable {
    border-style: 0;
    border-top: unset;
}

