@charset "utf-8";
/* CSS Document */

.ItemView-itemViewContainer .row.foo .col-sm-4.ItemView-sideColumn .ItemView-compoundItemViewerContainer {
        float: right !important
    }

.ItemView-compoundItemViewer.CompoundItemViewer-nonprintable {
    flex-wrap: wrap !important;
    display: flex;
    overflow: auto hidden;
    margin: 0px;
    justify-content: center;
    max-width: 75%;
    align-items: center;
    flex-direction: row;
    flex-flow: wrap;
    align-content: flex-end;
}