@charset "utf-8";
/* CSS Document */
@import 'styles/_variables';


/********************************/
/***Search Header*******/
/*******************************/
.CollSearch {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
    position: relative;
    color: white;
    height: 350px;
    padding: 20px;
}

#cartagena {
    background-image: url(https://cdm17480.contentdm.oclc.org/customizations/collection/photobooks/pages/images/CartagenaHeader.jpg);
    background-position: 50%;
    background-size: cover;
}

.CollView-searchContainer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-end;
    width: 90%;
    max-height: 40%;
}

#srchTerm{
    display:flex;
}

/*format text input box*/

input[type="text"] {
    padding: 5px;
    margin: auto;
    height: auto;
    border: none;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 2px;
    position: absolute;
    width: 90%;
    font-size: 1.5em;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    left: 20px;
    color: #545454;
}

/*format & position search submit button*/
#search_collection {
    position: absolute;
    display: inline-block;
    background-color: #fff;
    border: none;
    padding: .01% 1.15%;
    right: 20px;
}

#search_collection:hover {
    background: #dc4b38;
}

/* caption and below */
#search-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-end;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 40%;
    padding: 20px;
}

.search-caption {
    font-size: .7rem;
}

/*format & position text in shaded area*/
#search-content p {
    margin: 0;
    padding: 0;
    display: inline-block;
    line-height: 1.6em;
}

#search-content p >a {
    color: gray;
}

#search-content h1 {
    font-size: 2.3rem;
    font-weight: 700;
    color: white;
    margin: .1em 0px .7em 0px;
    display: flex;
}

#search-content .CollectionLanding-landingBrowseButton {
display:flex;
}

@media (min-width: 568px) and (max-width: 1024px) {

    .CollSearch {
        height: 120px;
    }
#search-content {
    min-height: 100%;
}

    #search-content p {
        font-size: .9em;
    }

    #search-content h1 {
        font-size: 1.7rem;
    }
}

@media (min-width: 300px) and (max-width: 567px) {

    .CollSearch {
        flex-flow: row wrap;
        justify-content: space-between;
        padding: 0;
    }

    .CollView-searchContainer {
        align-items: flex-start;
        margin-top: 20px;
    }

    #search-content h1 {
        font-size: 5vmin;
    }

    #search-content p {
        font-size: .85em;
        padding: 0;
    }

    #search-content p a {
        justify-content: flex-end;
        padding-bottom: 0;
    }

    .search-caption a {
        font-size: 1.05em;
        top: 0;
    }
}