/******Search Bar*********/
.Header-header .SimpleSearch-searchBox {
  position: absolute;
  /*top: 18px;*/
  left: 0;
  right: 0;
  top: 140px;
  padding: 26px 0 0 50px;
  background-color: #eaeaea;
  height: 100px;
}
@media screen and (max-width: 1440px) {
  .SimpleSearch-searchInput {
    width: calc(69% - 183px);
  }
}

.SimpleSearch-searchInput {
  margin-top: 0;
  width: calc(50% - 186px);
}
.SimpleSearch-searchInputControl {
  width: 100%;
  height: 50px;
  border: 1px #545454 solid;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  border-right: 0;
}
.SimpleSearch-searchInputControl:focus {
  border: 1px #dc4b38 solid;
}
#search-button .fa-2x {
  font-size: 2em;
  color: #fff;
  background-color: #DC241F;
  padding: 8px 28px 14px 18px;
  transition: color 0.25s ease, background-color 0.25s ease;
}
#search-button .fa-2x:hover {
  color: #212121;
  background-color: #DEA530;
}
#search-button .fa-2x:after {
  content: 'SEARCH';
  position: relative;
  top: -2px;
  left: 10px;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  letter-spacing: 4px
}
.SimpleSearch-headerButtonPadding {
  padding: 0 !important;
}
.headerIconButton {
  border: 0;
}
.SimpleSearch-searchHolder {
  margin-left: 0;
  margin-top: 0;
}
a.SimpleSearch-headerAdvancedSearchButtonLink:visited, a.SimpleSearch-headerAdvancedSearchButtonLink {
  color: #212121;
  background-color: #ffffff;
  border: 0;
  padding: 14px 30px 12px 35px;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 4px;
  position: absolute;
  right: 50px;
  top: 26px;
  transition: background-color 0.25s ease;
}
a.SimpleSearch-headerAdvancedSearchButtonLink:hover {
  color: #212121;
  background-color: #E7BC65 !important;
  text-decoration: none !important;
}
@media screen and (max-width:1200px) {
  .SimpleSearch-searchBox {
    height: 121px;
    padding: 26px 50px 0 50px;
  }
  .CoreLayout-mainWrapperContainer {
    margin-top: 246px;
  }
  .Header-controls button.SimpleSearch-advancedSearch {
    display: block;
    position: absolute;
    top: 87px;
    left: 50px;
    border-bottom: 1px #212121 solid;
    border-radius: 0;
    padding: 0 !important;
    color: #ffffff;
  }
  .Header-controls button.SimpleSearch-advancedSearch a {
    display: none;
  }
  a.SimpleSearch-headerAdvancedSearchButtonLink:visited, a.SimpleSearch-headerAdvancedSearchButtonLink {
    display: none;
  }
  .Header-controls button.SimpleSearch-advancedSearch:after {
    content: 'Advanced Search';
    color: #212121;
  }
}
@media screen and (max-width:575px) {
  .SimpleSearch-searchBox {
    padding: 26px 30px 0 25px;
  }
  #search-button .fa-2x {
    font-size: 2em;
    color: #fff;
    background-color: #DC241F;
    padding: 12px 14px 14px 14px;
  }
  #search-button .fa-2x:after {
    content: '';
  }
}

.SimpleSearch-searchInputControl {
  font-size: 16px;
  border-radius: 15px;
  height: 40px;
  width: 100%;
  border-color: lightgray;
  border-style: double;
  padding: 15px;
}

.SimpleSearch-searchInputControl::-webkit-search-cancel-button {
  position: relative;
  margin-right: 32px !important;
}

.SimpleSearch-searchInputControl:focus {
  outline-width: 0;
  box-shadow: inset 0 0 1px 3px #545454;
  border-style: none;
  height: 40px;
  padding-left: 17px;
  width: 100%;
}

.SimpleSearch-searchInputLabel a:hover,
.SimpleSearch-searchInputLabel a:focus {
  text-decoration: none !important;
}

.SimpleSearch-headerAdvancedSearchButtonLink {
  font-size: 15px;
  line-height: 25px;
  border-bottom: 1px solid rgba(0, 124, 185, .5);
}

#search-button {
  border: 0;
  display: inline-block;
position: absolute;
  top: 6px;
}

#advanced-search-button {
  display: none !important;
}

/* Responsive */

@media screen and (max-width: 767px) {
  .SimpleSearch-searchBox {
      position: absolute;
      top: 10px;
      padding: 0 0 0 15px;
  }

  #search-button {
      right: 15px;
  }

  .Header-hamburgerHolder {
      top: -40px;
  }

  .SimpleSearch-searchInputLabel {
      display: unset;
  }
}

@media screen and (min-width: 1050px) {
  .SimpleSearch-searchBox {
      position: absolute;
  }
}

@media screen and (min-width: 768px) {
  .SimpleSearch-searchBox {
      right: 10px;
      top: 25px;
  }

  #search-button {
      right: 15px;
  }
}

@media screen and (max-width: 1049px) and (min-width: 768px) {
  #search-button {
      right: 66px;
  }
}
