

/**************************/
/***2 across Collection Grid *******/
/**************************/
.CardWrapper-cardscontainer.LandingWrapper {
    padding-bottom: 20px;
    width: 100%;
    margin: 0 auto;
}

@media screen and (min-width: 767px) {
    .Card-cardcontainer.col-md-6 {
        box-shadow: 0 1px 16px rgba(0, 0, 0, 0.12), 0 0 0 1px rgba(0, 0, 0, 0.05);
        height: 100%;
        margin: 10px;
        padding: 0;
        width: calc(50% - 20px);
        float: left;
    }
    .col-md-6 a div .Card-cardImageHolder {
        width: 100%;
        margin: unset;
        height: 150px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    .col-md-6 a div .Card-cardTextHolder {
        padding: 5px 20px;
        width: 100%;
        height: 270px;
    }

    .titleDiv {
        font-size: 24px !important;
        padding: 0 0 15px;
        margin-bottom: 5px !important;
        line-height: 32px !important;
        max-height: 76px !important;
        margin-top: 5px !important;
    }

    .Card-cardText {
        font-size: 16px !important;
    }
}

@media screen and (min-width: 1366px) {
    .Card-cardcontainer.col-md-6 {
        max-width: 49% !important;
    }
}