@charset "utf-8";
/* CSS Document */
@import 'styles/_variables';

/********************************/
/***Tate tiles*******/
/*******************************/

.container--primary-content {
    padding-top: 32px
}

@media (min-width: 1200px) {
    .container__inner {
        width: 1136px;
    }

    .card-list--type__title-over-image.card-list--4col .card-media,
    .card-list--type__title-over-image.card-list--4col .card-media img,
    .card-list--type__title-over-image.card-list--4col .card__title {
        height: 260px;
    }

}

@media (min-width: 1200px) and (min-height: 720px) {
    .card-list--type__title-over-image.card-list--4col .card__title {
        font-size: 28px;
        line-height: 36px;
    }
    .card .card-content p {
        font-size: 17px;
        line-height: 27px;
    }
}

@media (min-width: 1024px) and (max-width: 1200px) {
    .container__inner {
        width: 960px;
    }
    .card-list--type__title-over-image.card-list--4col .card-media,
    .card-list--type__title-over-image.card-list--4col .card-media img,
    .card-list--type__title-over-image.card-list--4col .card__title {
    height: 216px;
}
}
@media (min-width: 841px){
    .card-list--4col .card {
        width: 25%;
        box-sizing: border-box;
        padding: 0 16px 32px;
    }
    .card-list--type__masonry.card-list--4col {
        column-count: 4;
      }
      .card-list--type__masonry{
      column-gap: 0;
  }
  .card-list--type__masonry .card {
    break-inside: avoid-column;
    padding-bottom: 64px;
    box-sizing: border-box;
    float: none;
    width: 100%;
  }
}

@media (min-width: 841px) and (max-width: 1024px) {
    .container__inner {
        width: 801px;
    }
    .card-list--type__title-over-image.card-list--4col .card__title{
        font-size: 26px;
        line-height: 34px;
    }
    .card-list--type__title-over-image.card-list--4col .card-media,
    .card-list--type__title-over-image.card-list--4col .card-media img,
    .card-list--type__title-over-image.card-list--4col .card__title {
    height: 170.25px;
  }
}

@media (min-width: 760px) and (max-width: 841px){
    .container__inner {
        width: 720px;
    }

    .card-list .card {
        box-sizing: border-box;
        padding: 0 16px 32px;
        width: 50%;
    }
    .card .card__title {
        font-size: 1.375rem;
        line-height: 1.75rem;
        height: 298px;
      }

}

@media (min-width: 480px) and (max-width: 760px) {
    .card-list .card {
        box-sizing: border-box;
        padding: 0 16px 32px;
    }

    .card-list--4col .card-media__inner {
        max-height: 390px;
    }
    .card-list.card-list--4col .card:nth-child(odd) {
        clear: left;
    }

    .card-list .card .card-content,
    .card-list .card .card-header,
    .card-list .card .card-media {
        width: auto;
    }
}

.container__inner {
    padding: 16px 0;
}

.article-header {
    margin-bottom: 32px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.card {
    position:relative;
}
.card-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    list-style: none;
    padding: 0;
}

.card-list--type__title-over-image .card {
    max-width: 100%;
}

.card__inner {
    break-inside: avoid;
    display: block;
    padding-bottom: 16px;
    position: relative;
    text-align: left;
    background: transparent;
    color: #313131;
}
.card__inner:hover {
    color: #dc4b38;
}
.card-list--type__title-over-image .card:hover .card__title {
    background-color: #dc4b38;
  }

a {
    text-decoration: none;
    background-color: transparent;
}

@media (min-width: 1024px) and (max-width: 1200px) {
    .card-list--type__title-over-image.card-list--4col .card-media {
        height: 216px;
    }
}

.card-media--image {
    box-sizing: border-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 12px;
    width: 100%;
}

.card-list .card-media__inner {
    display: flex;
    width: 100%;
    align-items: flex-end;
    justify-content: center;
}

.card-list .card-media__inner picture {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: flex-end;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.card-list--type__title-over-image.card-list--4col .card-media img {
    position: static;
    max-width: none;
    width: auto;
}

.card-media--image img {
    display: block;
    height: auto;
    margin: 0 auto;
    object-fit: contain;
    transition: opacity .8s;
}

.card-content {
    overflow: hidden;
    padding-bottom: 8px;
}

.card-list--type__title-over-image .card__title {
    display: flex;
    left: 0;
    margin: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    color: #fff;
    padding: 0 8px;
    transition: background-color .125s ease-in-out;
    letter-spacing: .11em;
}

.card__description {
    color: #767676;
    margin-bottom: 8px;
    margin-top: 8px;
}

.card-list .card .card__inner p {
    word-break: break-word;
}
.card-list.card-list--type__masonry {
    display: block;
  }
  .card-list .card-media__inner picture::after {
    background: rgba(0,0,0,.4);
    bottom: 0;
    content: "";
    height: 100%;
    opacity: 0;
    position: absolute;
    transition: opacity .8s;
    width: 100%;
  }
  .card-list .card__inner:hover picture::after {
    opacity: 1;
  }

  /******* TATE TILES *******/
.container--primary-content {
    padding-top: 32px
  }
  
  @media (min-width: 841px) {
    .card-list--4col .card {
        width: 25%;
        box-sizing: border-box;
        padding: 0 16px 32px;
    }
  
    .card-list--type__masonry.card-list--4col {
        column-count: 4;
    }
  
    .card-list--type__masonry {
        column-gap: 0;
    }
  
    .card-list--type__masonry .card {
        break-inside: avoid-column;
        padding-bottom: 64px;
        box-sizing: border-box;
        float: none;
        width: 100%;
    }
  }
  
  .container__inner {
    padding: 16px 0;
  }
  
  .article-header {
    margin-bottom: 32px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
  }
  
  .article-media--2-col .figure {
  flex:1 0 100%;
  width:calc(50% - 8px);
  float:left;
  margin-right:8px;;
  }
  
  
  .article-media--2-col .figure:first-child {
    margin-left:0;
  }
  
  .article-media .article-media--blockquote blockquote,
  .article-media.article-media--blockquote blockquote {
  margin:0;
  max-width:none;
  padding:24px 16px;
  text-align:center;
  }
  
  blockquote,
  p {
  max-width:720px
  }
  blockquote {
  box-sizing:border-box;
  font-weight:300;
  margin:16px 0;
  padding-left:24px
  }
  blockquote p {
  margin-left:auto;
  margin-right:auto;
  max-width:none
  }
  .card {
    position: relative;
  }
  
  .card-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    list-style: none;
    padding: 0;
  }
  
  .card-list--type__title-over-image .card {
    max-width: 100%;
  }
  
  .card__inner {
    break-inside: avoid;
    display: block;
    padding-bottom: 16px;
    position: relative;
    text-align: left;
    background: transparent;
    color: #313131;
  }
  
  .card__inner:hover {
    color: #dc4b38;
  }
  
  .card-list--type__title-over-image .card:hover .card__title {
    background-color: #dc4b38;
  }
  
  a {
    text-decoration: none;
    background-color: transparent;
  }
  
  .card-media--image {
    box-sizing: border-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 12px;
    width: 100%;
  }
  
  .card-list .card-media__inner {
    display: flex;
    width: 100%;
    align-items: flex-end;
    justify-content: center;
  }
  
  .card-list .card-media__inner picture {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: flex-end;
    justify-content: center;
    overflow: hidden;
    position: relative;
  }
  
  .card-list--type__title-over-image.card-list--4col .card-media img {
    position: static;
    max-width: none;
    width: auto;
  }
  
  .card-media--image img {
    display: block;
    height: auto;
    margin: 0 auto;
    object-fit: contain;
    transition: opacity .8s;
  }
  
  .card-content {
    overflow: hidden;
    padding-bottom: 8px;
  }
  
  .card-list--type__title-over-image .card__title {
    display: flex;
    left: 0;
    margin: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    color: #fff;
    padding: 0 8px;
    transition: background-color .125s ease-in-out;
    letter-spacing: .11em;
  }
  
  .card__description {
    color: #767676;
    margin-bottom: 8px;
    margin-top: 8px;
  }
  
  .card-list .card .card__inner p {
    word-break: break-word;
  }
  
  .card-list.card-list--type__masonry {
    display: block;
  }
  
  .card-list .card-media__inner picture::after {
    background: rgba(0, 0, 0, .4);
    bottom: 0;
    content: "";
    height: 100%;
    opacity: 0;
    position: absolute;
    transition: opacity .8s;
    width: 100%;
  }
  
  .card-list .card__inner:hover picture::after {
    opacity: 1;
  }
  
  @media (min-width: 1200px) {
    .container__inner {
        width: 1136px;
    }
  
    .card-list--type__title-over-image.card-list--4col .card-media,
    .card-list--type__title-over-image.card-list--4col .card-media img,
    .card-list--type__title-over-image.card-list--4col .card__title {
        height: 260px;
    }
  
  }
  
  @media (min-width: 1200px) and (min-height: 720px) {
    .card-list--type__title-over-image.card-list--4col .card__title {
        font-size: 28px;
        line-height: 36px;
    }
  
    .card .card-content p {
        font-size: 17px;
        line-height: 27px;
    }
  }
  
  @media (min-width: 1024px) and (max-width: 1200px) {
    .container__inner {
        width: 960px;
    }
  
    .card-list--type__title-over-image.card-list--4col .card-media,
    .card-list--type__title-over-image.card-list--4col .card-media img,
    .card-list--type__title-over-image.card-list--4col .card__title {
        height: 216px;
    }
  }
  
  @media (min-width: 841px) and (max-width: 1024px) {
    .container__inner {
        width: 801px;
    }
  
    .card-list--type__title-over-image.card-list--4col .card__title {
        font-size: 26px;
        line-height: 34px;
    }
  
    .card-list--type__title-over-image.card-list--4col .card-media,
    .card-list--type__title-over-image.card-list--4col .card-media img,
    .card-list--type__title-over-image.card-list--4col .card__title {
        height: 170.25px;
    }
  }
  
  @media (min-width: 760px) and (max-width: 841px) {
    .container__inner {
        width: 720px;
    }
  
    .card-list .card {
        box-sizing: border-box;
        padding: 0 16px 32px;
        width: 50%;
    }
  
    .card .card__title {
        font-size: 1.375rem;
        line-height: 1.75rem;
        height: 298px;
    }
  
  }
  
  @media (min-width: 480px) and (max-width: 760px) {
    .card-list .card {
        box-sizing: border-box;
        padding: 0 16px 32px;
    }
  
    .card-list--4col .card-media__inner {
        max-height: 390px;
    }
  
    .card-list.card-list--4col .card:nth-child(odd) {
        clear: left;
    }
  
    .card-list .card .card-content,
    .card-list .card .card-header,
    .card-list .card .card-media {
        width: auto;
    }
  }
  
  @media (min-width: 1024px) and (max-width: 1200px) {
    .card-list--type__title-over-image.card-list--4col .card-media {
        height: 216px;
    }
  }
  