/**************************/
/******* TATE TILES *******/
/**************************/

article {
  display: block;
}

.container::after {
  clear: both;
  content: "";
  display: table;
}

.container__inner {
  padding: 16px 0;
  margin: 0 auto;
  width: 100%;
}

.container__inner::after {
  clear: both;
  content: "";
  display: table;
}

.card {
  position: relative;
  max-width: 100%;
}

.card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  list-style: none;
  padding: 0;
}

.card-list::after {
  clear: both;
  content: "";
  display: table;
}

.card-list .card:first-of-type {
  margin-left: 0;
}

.card__inner {
  break-inside: avoid;
  display: block;
  padding-bottom: 16px;
  position: relative;
  text-align: left;
  background: transparent;
  color: #818181;
}

.card__inner::after {
  clear: both;
  content: "";
  display: table;
}

a {
  text-decoration: none;
  background-color: transparent;
}

.card-media {
  height: 298px;
  overflow: hidden;
  width: 100%;
  border-radius: 15px;
  box-sizing: border-box;
  display: flex;
  margin-bottom: 12px;
}

.card-media__inner {
  display: flex;
  width: 100%;
  align-items: flex-end;
  justify-content: center;
}

.card-list picture {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: flex-end;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.card-list picture::after {
  background: rgba(0, 0, 0, .4);
  bottom: 0;
  content: "";
  height: 100%;
  opacity: 0;
  position: absolute;
  transition: opacity .8s;
  width: 100%;
}

.card-list picture::after {
  opacity: 1;
}

.card-media img {
  height: 298px;
  max-height: none;
  max-width: none;
  width: auto;
  position: static;
  display: block;
  margin: 0 auto;
  object-fit: contain;
  transition: opacity .8s;
  border: none;
}

.card-content {
  overflow: hidden;
  padding-bottom: 8px;
  box-sizing: border-box;
}

.card__title {
  height: 298px;
  display: flex;
  left: 0;
  margin: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .5);
  box-sizing: border-box;
  color: #fff;
  padding: 0 8px;
  transition: background-color .125s ease-in-out;
  letter-spacing: .11em;
  font-weight: 400;
  letter-spacing: .11em;
  text-transform: uppercase;
  border-radius: 15px;
}

.card:hover .card__title {
  background-color: #545454;
}

.card:hover .card__title span {
  color: #fff
}

.card__description {
  color: #212529;
  margin-bottom: 8px;
  margin-top: 8px;
  margin: 8px 0 0;
}

.card__inner p {
  word-break: break-word;
}

.card-list.card-list--type__masonry {
  display: block;
}

@media (min-width:321px) and (max-width:479px) {
  .card__title {
    font-size: 1.375rem;
    line-height: 1.75rem;
  }
}

@media screen and (max-width: 480px) {

  .card-content,
  .card-content p {
    font-size: 16px;
    line-height: 24px;
  }

  .card__title {
    font-size: 1.375rem;
    line-height: 1.75rem;
  }

  .card {
    width: 100%;
  }
}

@media screen and (min-width: 480px) {
  .card-media__inner {
    max-height: 390px;
  }

  .card {
    box-sizing: border-box;
    padding: 0 16px 32px
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .card {
    box-sizing: border-box;
    padding: 0 16px 32px;
  }

  .card-media__inner {
    max-height: 390px;
  }

  .card {
    width: 50%;
  }

  .card-content,
  .card-media {
    float: none;
    margin-left: 0;
    width: 100%;
    font-size: 16px;
    line-height: 24px;
  }

  .card__title {
    font-size: 1.375rem;
    line-height: 1.75rem;
  }

  .card-content p {
    font-size: 16px;
    line-height: 24px;
  }
}

@media screen and (min-width: 767px) {
  .card-list {
    margin: 0 -8px;
  }

  .card {
    padding: 0 8px 32px;
  }
}

@media (min-width: 767px) and (max-width: 841px) {
  .container__inner {
    width: 720px;
  }

  .card__title {
    font-size: 1.375rem;
    line-height: 1.75rem;
  }

  .card-content,
  .card-content p {
    font-size: 16px;
    line-height: 24px;
  }

  .card {
    width: 50%;
  }
}

@media screen and (max-width: 841px) {
  .container__inner {
    box-sizing: border-box;
    padding: 0 16px;
  }
}

@media screen and (min-width: 841px) {
  .container__inner {
    box-sizing: border-box;
    padding: 0 16px;
    margin: 0 auto;
  }

  .card-list--type__masonry {
    column-count: 4;
  }

  .card-list--type__masonry {
    column-gap: 0;
  }

  .card-list--type__masonry .card {
    break-inside: avoid-column;
    padding-bottom: 64px;
    box-sizing: border-box;
    float: none;
    width: 100%;
  }
}

@media (min-width: 841px) and (max-width: 1024px) {
  .container__inner {
    width: 801px;
  }

  .card-media img {
    max-height: none
  }

  .card__title {
    font-size: 1.375rem;
    line-height: 1.75rem;
  }

  .card-content,
  .card-content p {
    font-size: 16px;
    line-height: 24px;
  }
  .card {
    width: 33%;
  }
}

@media (min-width: 1024px) and (max-width: 1200px) {
  .container__inner {
    width: 960px;
  }

  .card-media,
  .card-media img,
  .card__title {
    height: 216px;
  }

  .card__title {
    font-size: 1.375rem;
    line-height: 1.75rem;
  }

  .card-content,
  .card-content p {
    font-size: 16px;
    line-height: 24px;
  }

  .card {
    width: 33%;
  }
}

@media screen and (min-width: 1200px) {
  .container__inner {
    width: 1136px;
  }

  .card-media,
  .card-media img,
  .card__title {
    height: 260px;
  }
}

@media (min-width: 1200px) and (min-height: 720px) {
  .card__title {
    font-size: 28px;
    line-height: 36px;
  }

  .card-content p {
    font-size: 17px;
    line-height: 27px;
  }
  .card {
    width: 25%;
  }
}
