@charset "utf-8";
/* CSS Document */
/*=== PAGE LEVEL CSS ===*/

/*container for home page*/

.wrapperHome {
  display: grid;
  grid-template-areas: "collectionheader collectionheader collectionheader" "collectionWrapper collectionWrapper collectionWrapper" "footer footer footer";
  grid-template-rows: auto 400px 1.5fr 80px auto auto;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  color: white;
  max-width: 1280px;
  margin: auto;
}


/*set padding for page text*/

body,
header,
footer,
search,
featured,
explore,
collectionheader,
frontmatter {
  padding: 1.2em;
}

/*content shading overlay*/

.content {
  display: inline;
  position: relative;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

/*display images at 100% width*/

img {
  max-width: 100%;
  height: auto;
}


/* header for collections list */

#collectionheader {
  grid-area: collectionheader;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 60px;
  letter-spacing: .02em;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#collectionheader h1 {
  grid-column: 1 / 2;
  margin-right: 20px;
  justify-self: end;
}

#collectionheader .dropdown {
  grid-column: 2 / 3;
  margin-right: 20px;
  justify-self: end;
}

.btn-secondary {
  background-color: #e8ecf0 !important;
  color: #16324f;
  border: none;
  font-size: .8em;
}

.btn-secondary:active,
.btn-secondary:focus,
.btn-secondary:hover {
  background-color: #b8c4d1 !important;
  border-color: none;
  color: #16324f;
}

.dropdown-item {
  font-family: 'Open Sans', sans-serif;
  color: #16324f;
  font-size: .9em;
}

.dropdown-item:focus,
.dropdown-item:hover {
  background-color: #b8c4d1;
  color: #16324f;
}

.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show>.btn-secondary.dropdown-toggle,
.btn-secondary.focus,
.btn-secondary:focus {
  border: none;
  background-color: #b8c4d1 !important;
  color: #16324f;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

@media (min-width: 1024px) {
  #menuColl {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: .2em;
  }
}

/*=== COLLECTION LIST ON HOMEPAGE ===*/

/*container for collections list*/

#collectionWrapper {
  grid-area: collectionWrapper;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;

}

/*===COLLECTION LIST HOVER EFFECT===*/

/*position the hover container*/

.hvrbox,
.hvrbox * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.hvrbox {
  position: relative;
  display: inline;
  overflow: hidden;
  height: auto;
  width: 100%;
}

/*collection title*/

.hvrbox-title {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0;
  top: 0;
  min-width: 100%;
  height: auto;
  min-height: 12%;
  padding-top: 1.5%;
  padding-left: 1.5%;
  padding-right: 1.5%;
  text-align: center;
}

/*go forward icon >> on hover overlay*/

.hvrbox i {
  position: absolute;
  bottom: 2%;
  right: 3%;
  font-size: 3em;
  color: #E6AA3C;
}

/*collection thumbnail is 100%*/

.hvrbox img {
  width: 100%;
}

.hvrbox-text a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 400;
  padding: 5px;
}

.hvrbox .hvrbox-layer_bottom {
  display: block;
}

/*hover animation*/

.hvrbox .hvrbox-layer_top {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 15px;
  -webkit-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.hvrbox:hover .hvrbox-layer_top,
.hvrbox.active .hvrbox-layer_top {
  opacity: 1;
}

.hvrbox .hvrbox-text {
  text-align: center;
  font-size: 18px;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 75%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.hvrbox .hvrbox-text_mobile {
  font-size: 15px;
  border-top: 1px solid rgb(179, 179, 179);
  /* for old browsers */
  border-top: 1px solid rgba(179, 179, 179, 0.7);
  margin-top: 5px;
  padding-top: 2px;
  display: none;
}

.hvrbox.active .hvrbox-text_mobile {
  display: block;
}

.hvrbox .hvrbox-layer_slideup {
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}

.hvrbox:hover .hvrbox-layer_slideup,
.hvrbox.active .hvrbox-layer_slideup {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}


/*individual box for topics*/

.related {
  grid-area: related;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  max-height: 1020px;

}
