@charset "utf-8";
/* CSS Document */
/**************************************************/
/* Sub section: COMPOUND RECORD RIBBON/THUMBNAILS */
/**************************************************/

.CompoundItemViewer-nonprintable {
    border-style: 0;
    border-top: unset;}

.FilteredDisplaySelector-displayOptionContainer {
    padding-left: 0;
    padding-right: 0;}

.ItemView-sideColumn .ItemView-compoundItemViewerContainer {
    display: none !important;}

.ItemView-mainColumn .ItemView-compoundItemViewerContainer {
    margin: 0px;
    padding: 0px;
    text-align: -webkit-center;
    border-top: 10px solid #ffffff;}

.ItemView-compoundItemViewer.CompoundItemViewer-nonprintable>.FilteredDisplaySelector-displayOptionContainer,
.ItemView-compoundItemViewer.CompoundItemViewer-nonprintable>.CompoundItemViewer-results,
.ItemView-compoundItemViewer.CompoundItemViewer-nonprintable>.CompoundItemViewer-paginator {
    width: 100%;
    flex-basis: unset;
    text-align: start;
    background-color: #ffffff;}

.ItemView-compoundItemViewer.CompoundItemViewer-nonprintable {
    flex-wrap: wrap !important;
    display: flex;
    overflow: auto hidden;
    margin: 0px;
    justify-content: left;
    max-width: 380px;
    align-items: center;
    flex-direction: row;
    flex-flow: wrap;
    align-content: flex-end;}

.ItemView-compoundItemViewer.CompoundItemViewer-nonprintable>div:not([class]) {
    align-self: flex-start;}

.CompoundItemView-overlay {
    border: 0;
    margin-right: 3px;
    margin-left: 3px;}

.CompoundItemView-container {
    background-color: white;
    flex-wrap: wrap-reverse;
    place-content: center;
    padding: 0;
    max-width: fit-content;}

.CompoundItemView-thumbnailHolder {
    box-shadow: 0 0.5px 12px rgba(0, 0, 0, 0.12), 0 0 0 0.12px rgba(0, 0, 0, 0.05);}

.CompoundItemView-header {
    padding: 0 10px;
    text-align: center;
    font-size: 14px;
    font-family: "Helvetica Neue", Arial, Helvetica, Verdana, sans-serif;
    text-decoration: underline;
    width: 100%;
    white-space: nowrap;}

.CompoundItemViewer-paginator>div>div>div {
    background-color: #ffffff;
    border: 0;}
.Paginator-paginationPageNoInfo {
    padding-top: 15px;}