@charset "utf-8";
/* CSS Document */
body {
  margin: 0 25px;
}
/*****************************/
/* -- HEADER Modifications --*/
/*****************************/
.CoreLayout-headerContainer {
  position: relative !important;
}
.Header-header {
  height: 140px;
  width: calc(100%);
  border-top: 50px #f5f5f5 solid;
}
.Header-logoNameContainer {
  height: 100px;
  overflow: visible;
}
.Header-header .Header-logoImage {
  padding: 0;
  /* margin-left: 0 !important;
  margin-top: 0 !important;*/
  height: 90px; /******/
}
.Header-logoImageBanner {
  max-height: 90px !important;
}
.Header-bannerPadding {
  padding-top: 8px;
  padding-left: 10px !important;
}
/***Header Name****/
.Header-nameHolder {
  position: absolute;
  top: 80px;
  left: 300px;
  padding: 0px;
}
.Header-nameHolder .header-text {
  font-size: 1.2rem;
  font-style: italic;
  font-weight: 400;
  padding-right: 5px;
}
/******Misc**********/
/*.Header-verticalCenter {
	top: 90px;}*/
.Header-headerContainer {
  border-bottom: 1px solid #999;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .25);
}
.Header-valerieBar {
  display: none;
}
.Header-headerMenuLinks span {
  display: none;
}
@media screen and (max-width: 767px) {
  .Header-mobileTitleHide {
    display: block;
  }
  .Header-nameHolder {
    top: 60px;
    left: 15px;
  }
  .Header-nameHolder .header-text {
    font-size: .75rem;
  }
  .Header-logoImage, .Header-logoImageBanner {
    height: 60px !important
  }
}
/* Horizontal Menu */
@media screen and (min-width: 768px) {
  .Header-logoImage {
    margin-top: 10px !important;
    width: auto;
  }
  .Header-controls {
    width: 100%;
    position: static;
    border-radius: 0;
    min-height: 42px;
    max-height: 42px;
    border: none;
    text-align: center;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, .1);
  }
  .Header-hamburgerHolder .btn-group button {
    display: none;
  }
  .Header-hamburgerHolder, .dropdown.btn-group {
    float: none;
    display: block;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
  }
  .Header-headerMenuLinks {
    position: static;
    display: flex;
    flex-wrap: nowrap;
    border: none;
    box-shadow: none;
    float: none;
    justify-content: left;
    background-color: #FFFFFF !important;
    background: none;
    width: auto;
    border-top: 0;
    border-bottom: 0;
    overflow: visible;
  }
  .Header-headerMenuLinks a {
    background-color: #FFFFFF !important;
  }
  .Header-headerMenuLinks h3 {
    margin: 5px;
    color: #dc4b38;
  }
}
/* logo as bg image in display name
.Header-logoNameContainer {
  overflow: hidden;
  background-color: #fff;
}
.Header-nameHolder h2 {
  background: url(MFAH_long_orange_dc.png) no-repeat;
  background-size: 300px;
  background-position: 40px 21px;
}*/
/******Search Bar*********/
.Header-header .SimpleSearch-searchBox {
  position: absolute;
  /*top: 18px;*/
  left: 0;
  right: 0;
  top: 140px;
  padding: 26px 0 0 50px;
  background-color: #eaeaea;
  height: 100px;
}
@media screen and (max-width: 1440px) {
  .SimpleSearch-searchInput {
    width: calc(69% - 183px);
  }
}
.SimpleSearch-searchInput {
  margin-top: 0;
  width: calc(50% - 186px);
}
.SimpleSearch-searchInputControl {
  width: 100%;
  height: 50px;
  border: 1px #545454 solid;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  border-right: 0;
}
.SimpleSearch-searchInputControl:focus {
  border: 1px #dc4b38 solid;
}
#search-button .fa-2x {
  font-size: 2em;
  color: #fff;
  background-color: #DC241F;
  padding: 8px 28px 14px 18px;
  transition: color 0.25s ease, background-color 0.25s ease;
}
#search-button .fa-2x:hover {
  color: #212121;
  background-color: #DEA530;
}
#search-button .fa-2x:after {
  content: 'SEARCH';
  position: relative;
  top: -2px;
  left: 10px;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  letter-spacing: 4px
}
.SimpleSearch-headerButtonPadding {
  padding: 0 !important;
}
.headerIconButton {
  border: 0;
}
.SimpleSearch-searchHolder {
  margin-left: 0;
  margin-top: 0;
}
a.SimpleSearch-headerAdvancedSearchButtonLink:visited, a.SimpleSearch-headerAdvancedSearchButtonLink {
  color: #212121;
  background-color: #ffffff;
  border: 0;
  padding: 14px 30px 12px 35px;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 4px;
  position: absolute;
  right: 50px;
  top: 26px;
  transition: background-color 0.25s ease;
}
a.SimpleSearch-headerAdvancedSearchButtonLink:hover {
  color: #212121;
  background-color: #E7BC65 !important;
  text-decoration: none !important;
}
@media screen and (max-width:1200px) {
  .SimpleSearch-searchBox {
    height: 121px;
    padding: 26px 50px 0 50px;
  }
  .CoreLayout-mainWrapperContainer {
    margin-top: 246px;
  }
  .Header-controls button.SimpleSearch-advancedSearch {
    display: block;
    position: absolute;
    top: 87px;
    left: 50px;
    border-bottom: 1px #212121 solid;
    border-radius: 0;
    padding: 0 !important;
    color: #ffffff;
  }
  .Header-controls button.SimpleSearch-advancedSearch a {
    display: none;
  }
  a.SimpleSearch-headerAdvancedSearchButtonLink:visited, a.SimpleSearch-headerAdvancedSearchButtonLink {
    display: none;
  }
  .Header-controls button.SimpleSearch-advancedSearch:after {
    content: 'Advanced Search';
    color: #212121;
  }
}
@media screen and (max-width:575px) {
  .SimpleSearch-searchBox {
    padding: 26px 30px 0 25px;
  }
  #search-button .fa-2x {
    font-size: 2em;
    color: #fff;
    background-color: #DC241F;
    padding: 12px 14px 14px 14px;
  }
  #search-button .fa-2x:after {
    content: '';
  }
}
/*@media screen and (max-width: 767px) {
  .SimpleSearch-searchBox {
    position: absolute;
    top: 60px !important;
    padding: 0 0 0 15px;
  }
}*/