@charset "utf-8";
/* CSS Document */

/* -- Header Modifications --*/
.Header-header {
	height: 145px}
.Header-header .Header-logoImage {
    padding: 0;
    margin-left: 0 !important;
    margin-top: 0 !important;
    height: 70px;
    max-height: none;}
.Header-logoImageBanner {
	max-height: 80px!important;}
.Header-logoNameContainer {
	height: 104px;
	overflow: visible;}
.Header-nameHolder {
	position: absolute;
	top: 80px;
	left: 300px;
	padding: 0px;}
.Header-nameHolder .header-text { 
	font-size: 1.2rem; 
	font-style: italic; 
	font-weight: 400;
	padding-right: 5px;}
.Header-bannerPadding {
	padding-top: 8px; 
	padding-left: 10px!important;}
/*.Header-verticalCenter {
	top: 90px;}*/
.Header-headerContainer {
    border-bottom: 1px solid #999;
    box-shadow: 0 2px 5px rgba(0,0,0,.25);    }
.Header-valerieBar {
	display: none;}

.Header-header .SimpleSearch-searchBox {
	position: absolute;
	top: 18px;
	right: 10px;}

@media screen and (max-width: 767px) {
	.Header-mobileTitleHide {
		display: block;}
	.Header-nameHolder {
		top: 60px;
		left: 15px;}
	.Header-nameHolder .header-text {
		font-size: .75rem;	}
	}
@media screen and (max-width: 767px) {
    .SimpleSearch-searchBox {
        position: absolute;
        top: 60px !important;
        padding: 0 0 0 15px;}
}

/* Horizontal Menu */

@media screen and (min-width: 768px) {
	.Header-logoHolder {
		margin-top: 2px;}
	.Header-logoImage {
		margin-top: 10px !important;
		height: 80px;
		width: auto;}
	.Header-controls {
		width: 100%;
		position: static;
		border-radius: 0;
    	min-height: 42px;
    	max-height: 42px;
		border: none;
		text-align: center;
		box-shadow: 0 -1px 2px rgba(0,0,0,.1);}
	.Header-hamburgerHolder {
    	float: left;}
	.Header-hamburgerHolder .btn-group button {
		display: none;}
	.Header-hamburgerHolder,
	.dropdown.btn-group {
		float: none;
		display: block;
		margin: 0 0 0 0;
		padding: 0 0 0 0;}
	.Header-headerMenuLinks {
    	position: static;
    	display: flex;
    	flex-wrap: nowrap;
    	border: none;
    	box-shadow: none;
		float: none;
		justify-content: left;
    	background-color: #FFFFFF!important;}
	.Header-headerMenuLinks a {
		background-color: #FFFFFF!important;}
	.Header-headerMenuLinks h3 {
		margin: 5px;
		color: #dc4b38;}
}

