/**leirner collection**/
/*Item level & related columns*/
.item-related-container {
  display: inline;
}

.item-related-container h3 {
  margin-top: 5px;
  margin-bottom: 5px;

}

.related-title {
  padding-top: 5px;
}

.ItemImage-itemImage img {
  max-width: 500px;
  max-height: 600px;
}

.field-relate .field-value span a,
.field-relata .field-value span a {
  display: flex;
  margin-left: 0;
  margin-right: 0;
  padding: 5px 5px 4px;
  border-left: 1px solid #CCC;
  border-right: 1px solid #CCC;
  border-top: 1px solid #CCC;
}

.field-relate .field-value span,
.field-relata .field-value span {
  border-bottom: 5px solid #CCC;
}

.field-exhibd .field-value span a {
  display: flex;
  margin-left: 0;
  margin-right: 0;
  padding: 5px 5px 4px;
}

.field-relate,
.field-relate td,
.field-relata,
.field-relata td {
  display: grid;
}

.field-relate,
.field-relata {
  grid-template-columns: 1fr;
  padding-bottom: 1px;

  &:hover {
    cursor: pointer;
  }
}

.field-relate .field-label,
.field-relata .field-label {
  font-family: "Helvetica Neue", Arial, Helvetica, Verdana, sans-serif;
  font-size: 1.125rem;
  font-weight: bold;
  color: #dc4b38;
  font-style: normal;
  text-decoration: none;
  padding: 10px 15px !important;
}

.field-relate .field-value .related-img,
.field-relata .field-value .related-img,
.field-exhibd .field-value .related-img {
  max-height: 90px;
  max-width: 90px;
}

.field-relate .field-value img,
.field-relata .field-value img {
  max-width: unset;
  max-height: unset;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50%;
}

.field-exhibd .field-value img {
    max-width: unset;
  max-height: unset;
  height: 100%;
  object-fit: cover;
  object-position: 50%;
}

.field-relate h3,
.field-relata h3,
.field-exhibd h3 {
  padding-left: 10px;
}

.ItemPreview-container {
  max-width:
}

/**************Landing Page*******************/
.collView-mainColumn {
  margin: 10px auto;
  width: 80%;

}

article {
  display: block;
}

.leirner-card {
  position: relative;
  max-width: 100%;
}

.leirner-card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  list-style: none;
  padding: 0;
}

.leirner-card-list::after {
  clear: both;
  content: "";
  display: table;
}

.leirner-card-list .leirner-card:first-of-type {
  margin-left: 0;
}

.leirner-card__inner {
  break-inside: avoid;
  display: block;
  padding-bottom: 16px;
  position: relative;
  text-align: left;
  background: transparent;
  color: #818181;
}

.leirner-card__inner::after {
  clear: both;
  content: "";
  display: table;
}

.leirner-card__inner:hover {
  color: #dc4b38;
}

a {
  text-decoration: none;
  background-color: transparent;
}

.leirner-card-media {
  height: 298px;
  overflow: hidden;
  width: 100%;
  border-radius: 15px;
  box-sizing: border-box;
  display: flex;
  margin-bottom: 12px;
}

.leirner-card-media__inner {
  display: flex;
  width: 100%;
  align-items: flex-end;
  justify-content: center;
}

.leirner-card-list picture {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: flex-end;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.leirner-card-list picture::after {
  background: rgba(0, 0, 0, .4);
  bottom: 0;
  content: "";
  height: 100%;
  opacity: 0;
  position: absolute;
  transition: opacity .8s;
  width: 100%;
}

.leirner-card-list picture::after {
  opacity: 1;
}

.leirner-card-media img {
  height: 298px;
  max-height: none;
  max-width: none;
  width: auto;
  position: static;
  display: block;
  margin: 0 auto;
  object-fit: contain;
  transition: opacity .8s;
  border: none;
}

.leirner-card-content {
  overflow: hidden;
  padding-bottom: 8px;
  box-sizing: border-box;
}

.leirner-card__title {
  height: 298px;
  display: flex;
  left: 0;
  margin: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .5);
  box-sizing: border-box;
  color: #fff;
  padding: 0 8px;
  transition: background-color .125s ease-in-out;
  letter-spacing: .11em;
  font-weight: 400;
  letter-spacing: .11em;
  text-transform: uppercase;
  border-radius: 15px;
}

.leirner-card:hover .leirner-card__title {
  background-color: #dc4b38;
}

.leirner-card:hover .leirner-card__title span {
  color: #fff
}

.leirner-card__description {
  color: #767676;
  margin-bottom: 8px;
  margin-top: 8px;
  margin: 8px 0 0;
}

.leirner-card__inner p {
  word-break: break-word;
}

@media (min-width:321px) and (max-width:479px) {
  .leirner-card__title {
    font-size: 1.375rem;
    line-height: 1.75rem;
  }
}

@media screen and (max-width: 480px) {

  .leirner-card-content,
  .leirner-card-content p {
    font-size: 16px;
    line-height: 24px;
  }

  .leirner-card__title {
    font-size: 1.375rem;
    line-height: 1.75rem;
  }

  .leirner-card {
    width: 100%;
  }
}

@media screen and (min-width: 480px) {
  .leirner-card-media__inner {
    max-height: 390px;
  }

  .leirner-card {
    box-sizing: border-box;
    padding: 0 20px 32px
  }
}

@media (min-width: 480px) and (max-width: 760px) {
  .leirner-card {
    box-sizing: border-box;
    padding: 0 20px 32px;
  }

  .leirner-card-media__inner {
    max-height: 390px;
  }

  .leirner-card {
    width: 50%;
  }

  .leirner-card-content,
  .leirner-card-media {
    float: none;
    margin-left: 0;
    width: 100%;
    font-size: 16px;
    line-height: 24px;
  }

  .leirner-card__title {
    font-size: 1.375rem;
    line-height: 1.75rem;
  }

  .leirner-card-content p {
    font-size: 16px;
    line-height: 24px;
  }
}

@media screen and (min-width: 760px) {
  .leirner-card {
    padding: 0 20px 32px;
  }
}

@media (min-width: 760px) and (max-width: 841px) {
  .leirner-card__title {
    font-size: 1.375rem;
    line-height: 1.75rem;
  }

  .leirner-card-content,
  .leirner-card-content p {
    font-size: 16px;
    line-height: 24px;
  }

  .leirner-card {
    width: 50%;
  }
}


@media (min-width: 841px) and (max-width: 1024px) {
  .leirner-card-media img {
    max-height: none
  }

  .leirner-card__title {
    font-size: 1.375rem;
    line-height: 1.75rem;
  }

  .leirner-card-content,
  .leirner-card-content p {
    font-size: 16px;
    line-height: 24px;
  }

  .leirner-card {
    width: 50%;
  }
}

@media (min-width: 1024px) and (max-width: 1200px) {

  .leirner-card-media,
  .leirner-card-media img,
  .leirner-card__title {
    height: 216px;
  }

  .leirner-card__title {
    font-size: 1.375rem;
    line-height: 1.75rem;
  }

  .leirner-card-content,
  .leirner-card-content p {
    font-size: 16px;
    line-height: 24px;
  }

  .leirner-card {
    width: 50%;
    padding: 0 50px 16px;
  }
}

@media screen and (min-width: 1200px) {
  .leirner-card__inner {
    width: 350px;
  }

  .leirner-card-media,
  .leirner-card-media img,
  .leirner-card__title {
    height: 260px;

  }
}

@media (min-width: 1200px) and (min-height: 720px) {
  .leirner-card__title {
    font-size: 28px;
    line-height: 36px;
  }

  .leirner-card-content p {
    font-size: 17px;
    line-height: 27px;
  }

  .leirner-card {
    width: 50%;
    padding: 0 50px 16px;
  }
}