@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*****************************/
/* -- HEADER Modifications --*/
/*****************************/

/*
.CoreLayout-headerContainer {
	position: relative !important;
}
*/
.Header-header {
  height: 140px;
  width: calc(100%);
}

.Header-logoNameContainer {
  height: 100px;
  overflow: visible;
}

.Header-header .Header-logoImage {
  padding: 0;
  height: 90px;
  object-fit: cover;
  object-position: 0%;
}

.Header-logoImageBanner {
  max-height: 90px !important;
}

.Header-bannerPadding {
  padding-top: 8px;
  padding-left: 10px !important;
}

/******Misc**********/
/*.Header-verticalCenter {
	top: 90px;}*/
.Header-headerContainer {
  border-bottom: 1px solid #999;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .25);
}

.Header-valerieBar {
  display: none;
}

.Header-headerMenuLinks span {
  display: none;
}

@media screen and (max-width: 767px) {
  .Header-mobileTitleHide {
    display: block;
  }
}

/**@media screen and (max-width: 1100px) and (min-width: 881px) {
  .Header-logoImage {
    width: 420px;
  }
}

@media screen and (max-width: 880px) and (min-width: 768px) {
  .Header-logoImage {
    width: 396px;
  }
}**/

@media screen and (max-width: 767px) {
  .Header-logoImage {
    width: 336px;
    max-height: 75px !important;
    margin-top: 7px !important;
  }
}

@media screen and (min-width: 768px) {
  .Header-logoImage {
    margin-top: 12px !important;
  }
}
@media screen and (min-width: 768px) {
  /* Horizontal Menu */
  .Header-controls {
    width: 100%;
    position: static;
    border-radius: 0;
    min-height: 42px;
    max-height: 42px;
    border: none;
    text-align: center;
    /*box-shadow: 0 -1px 2px rgba(0, 0, 0, .1);*/
  }

  .Header-hamburgerHolder .btn-group button {
    display: none;
  }

  .Header-hamburgerHolder,
  .dropdown.btn-group {
    float: none;
    display: block;
    margin-top: 4px;
    margin-left: 0px;
    padding: 0 0 0 0;
  }

  .Header-headerMenuLinks {
    position: static;
    display: flex;
    flex-wrap: nowrap;
    border: none;
    box-shadow: none;
    float: none;
    justify-content: left;
    background-color: #FFFFFF !important;
    background: none;
    width: auto;
    border-top: 0;
    border-bottom: 0;
    overflow: visible;
  }

  .Header-headerMenuLinks a {
    background-color: #FFFFFF !important;
  }

  .Header-headerMenuLinks h3 {
    margin: 5px;
    color: #242424;
    font-weight: 500;
    font-size: 1.25rem;
  }
}

a.headerIcon {
  color:#242424;
}

/******Search Bar*********/

@media screen and (max-width: 767px) {
  .SimpleSearch-searchBox {
    top: 75px;
  }
}

@media screen and (min-width: 768px) {
  .SimpleSearch-searchBox {
    top: 25px;
    right: 10px;
  }
}

.SimpleSearch-searchBox {
  position: absolute;
}

.SimpleSearch-searchInput {
  width: 385px;
}

.SimpleSearch-searchInputControl {
  width: 100%;
  height: 30px;
  border: 1px #242424 solid;
  border-radius: 5px;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif !important;
}


/*******************************/
/*Section: FOOTER Modifications*/
/*******************************/
.Footer-footerWrapper a {
  color: #242424 !important;
}

.FooterNavigationLinks-footerLinksHolder {
  span {
    display: none;
  }

  li a[title='Log in'] {
    display: none;
  }

  li a {
    margin: 0 7px;
    font-size: 1rem;
  }

  a {
    font-weight: 500;
  }
}

/**a:visited,
h2 a:visited,
.cdm-footer a:visited {
  color: #dc4b38;
}**/

.Footer-footerLanguageHolder button {
  color: #242424 !important;
}

.Footer-footerLanguageHolder {
  padding-top: 6px;
}

#trademark {
  display: none;
  padding: 0px 5px 5px 5px;
  
}
@media screen and (max-width: 767px) {
.FooterNavigationLinks-footerLinksHolder li {
  display: grid !important;
}
}

/*****************************/
/* Section:  GENERAL CONTENT */
/*****************************/

body, h1, h2, h3, p, a, label, button, td {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif !important;
}

.CoreLayout-maincontainer,
.CoreLayout-mainWrapperContainer,
.CoreLayout-mainwrapper {
  background-color: #FFFFFF;
}

.CoreLayout-mainwrapper {
  padding-bottom: 20px;
}

.Breadcrumbs-breadcrumbs {
  display: flex;
}

@media screen and (-ms-high-contrast: none) {
  .CoreLayout-mainWrapperContainer {
    margin-top: unset;
  }
}

/* Responsive */
@media screen and (min-width: 1460px) {
  .CoreLayout-mainwrapper {
    place-self: center;
    width: 100%;
  }

  /* Fix left margin on Browse/Search page when more than one collection is selected */
  .CoreLayout-mainwrapper.cdm-main-content .Search-container {
    padding-left: 20px;
  }
}

body {
  overflow-x: hidden;
  background-color: white;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.About-maincontentAbout p {
  line-height: 1.42857143 !important;
}

/*.shared-contentContainer {
  width: 90% !important;
}*/

/*****************************/
/* Section:  HOME PAGE ***** */
/*****************************/

.ContentHeader-mainCopyHolder {
  padding-bottom: 10px;
}
.ContentHeader-mainCopyHolder p {
    font-size: 1rem;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif !important;
}
/* Sub section: PHOTOGRID */

.CardWrapper-cardscontainer {
  padding-bottom: 20px;
  margin: 0 auto;
  width: 80%;
}

.Card-cardcontainer {
  border-radius: 15px;
  float: left !important;
}

.Card-fullcard {
  border-radius: 15px !important;
  height: 100%;
}

.Card-fullcard::after {
  clear: both;
  content: "";
  display: table;
}

.titleDiv::before {
  display: none;
}

.truncation::before {
  display: none;
}

/*Transition on hover*/
.CardWrapper-cardscontainer div .Card-cardcontainer a div .Card-cardImageHolder {
  overflow: hidden;
}

.CardWrapper-cardscontainer div .Card-cardcontainer a div .Card-cardImageHolder img {
  transition: transform 1.05s, filter 1.05s ease-in-out;
}

.CardWrapper-cardscontainer div .Card-cardcontainer a div .Card-cardImageHolder:hover img {
  transform: scale(1.05);
}

.Card-cardcontainer.col-sm-6 {
  box-shadow: 0 1px 16px rgba(0, 0, 0, 0.12), 0 0 0 1px rgba(0, 0, 0, 0.05);
  height: 100%;
  margin: 10px;
  padding: 0;

}

.Card-cardcontainer:hover {
  box-shadow: 0 0 1px 6px #999;
}

.Card-cardImageHolder {
  width: 100%;
  margin: unset;
  height: 200px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.Card-cardImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50%;
  max-width: unset;
  max-height: unset;
  opacity: 90%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.Card-cardTextHolder {
  padding: 5px 20px;
  width: 100%;
  height: 200px;
}

.titleDiv {
  display: block;
  font-size: 1.25rem;
  padding: 0 0 15px;
  margin-bottom: 5px !important;
  line-height: 32px !important;
  max-height: 76px !important;
  margin-top: 5px !important;
  overflow: hidden;
  margin: 0px auto !important;
  text-overflow: ellipsis;
}

.Card-cardText {
  font-size: 1rem;
  display: block;
  line-height: 24px;
  margin: 0px auto !important;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (min-width: 891px) {
  .Card-cardcontainer.col-sm-6 {
    width: calc(33% - 20px) !important;
  }
}

@media (min-width: 480px) and (max-width: 890px) {
  .Card-cardcontainer.col-sm-6 {
    width: calc(50% - 20px) !important;
  }
}

@media screen and (max-width: 479px) {
  .Card-cardcontainer.col-sm-6 {
    width: 100% !important;
  }
}

/***************************/
/* COLLECTION LANDING PAGE */
/***************************/


.CollectionLanding-aboutCollection p {
  font-size: 1rem;
}

/*sub-collection pages*/
.collView-mainColumn .collView-collSearchContainer {
  background-color: #EFEFEF;
  margin: 10px -15px;
  padding: 5px;
  border: 5px solid #CCC;
}

.collView-subColumn {
  width: 70%;
  margin: 0 auto;
  padding-top: 20px;
}

.collPreview-container {
  display: flex;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 5px;

  &>button {
    width: 30px;
    font-size: 2em;
    padding: 0;
    border: none;
    border-radius: 0;

    .text {
      display: none;
    }
  }

  .preview {
    min-height: 65px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.collImage-itemImage {
  display: table-cell;
  max-width: 730px;
  margin-top: 15px;

  >div {
    display: table-cell;
    position: relative;
  }

  img {
    max-width: 730px;
    width: 100%;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2), 0 0 3px rgba(0, 0, 0, 0.1);
  }
}

/*******Panel Expand-Collapse***********/
.panel-title {
  display: inline-block;
}

.Panel-panelTitle {
  display: inline !important;
}

.collapse {
  display: none;
}

.Panel-fontAwesomeIcon {
  transition: transform 0.3s ease;
}

.collapsed-panel .Panel-fontAwesomeIcon {
  transform: rotate(0deg);
}

.expanded-panel .Panel-fontAwesomeIcon {
  transform: rotate(90deg);
  color: #fff;
  margin-right: 2px;
}

.expanded-panel .Panel-panelTitle {
  color: #ffffff !important;
}

.collapsed-panel {
  background-color: #fff;

  .panel-heading:hover {
    box-shadow: 0 0 1px 6px #999;
  }
}

.expanded-panel {

  background-color: #242424 !important;
  border-radius: 5px;

  .panel-title {
    a {
      text-decoration: none;

      :hover {
        cursor: pointer;
      }
    }

    h2 {
      font-style: normal;
      text-decoration: none;
      margin: 0;

      >.fa {
        margin-left: -2px;
      }
    }
  }

  .panel-default {
    background-color: inherit !important;
  }

  .panel-default>.panel-heading {
    background-color: inherit !important;
  }

  .panel-body a {
    :hover {
      cursor: pointer !important;
    }
  }

  .panel-body {
    background-color: white;
    padding-top: 10px !important;
    padding-right: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
  }
}

.ItemText-container {
  white-space: normal !important;
}

/**************/
/* ITEM LEVEL */
/**************/

/***Action Button Text****/
@media (min-width: 960px) {
  .fa-download::after {
    content: "  Download ";
    white-space: pre;
    font-size: 1rem;
    font-family: "Helvetica Neue", Arial, Helvetica, Verdana, sans-serif;
    font-weight: bold;
  }

  .fa-print::after {
    content: "  Print ";
    white-space: pre;
    font-size: 1rem;
    font-family: "Helvetica Neue", Arial, Helvetica, Verdana, sans-serif;
    font-weight: bold;
  }

  .btn-primary .fa-expand::after {
    content: "  View ";
    white-space: pre;
    font-size: 1rem;
    font-family: "Helvetica Neue", Arial, Helvetica, Verdana, sans-serif;
    font-weight: bold;
  }
}

/* fix to move cpd obj paginator above preview image */
.CompoundItemPagination-container {
  position: absolute;
  top: -60px;
  left: 30%;
}

/* Sub section: MAIN ITEM VIEWER */

.row .col-sm-8.ItemView-mainColumn {
  margin-top: 10px;
}

/* make button full image*/
.ItemImage-expandButton {
  height: 100%;
  width: 100%;
  opacity: 0;
  top: 0;
  right: 0;
}

.ItemPDF-expandButton {
  height: 100%;
  width: 100%;
  opacity: 0;
  top: 0;
  right: 0;
}
/*Item URL View*/
.ItemUrl-thumbnailFlex {
  max-height: 200px;
}

.ItemUrl-itemUrlLink {
  padding-top: 20px;
}
/*.ItemUrl-itemUrlLink a {}*/
.ItemUrl-itemImageThumbnail {
  height: 200px;
}