@charset "utf-8";
/* CSS Document */
@import 'styles/_variables';

/********************************/
/***Tate tiles*******/
/*******************************/

.container--primary-content {
    padding-top: 32px
}

@media (min-width: 1200px) {
    .container__inner {
        width: 1136px;
    }

    .card-list--type__title-over-image.card-list--4col .card-media,
    .card-list--type__title-over-image.card-list--4col .card-media img,
    .card-list--type__title-over-image.card-list--4col .card__title {
        height: 260px;
    }

}

@media (min-width: 1200px) and (min-height: 720px) {
    .card-list--type__title-over-image.card-list--4col .card__title {
        font-size: 28px;
        line-height: 36px;
    }

    .card .card-content p {
        font-size: 17px;
        line-height: 27px;
    }
}

@media (min-width: 1024px) and (max-width: 1200px) {
    .container__inner {
        width: 960px;
    }

    .card-list--type__title-over-image.card-list--4col .card-media,
    .card-list--type__title-over-image.card-list--4col .card-media img,
    .card-list--type__title-over-image.card-list--4col .card__title {
        height: 216px;
    }
}

@media (min-width: 841px) {
    .card-list--4col .card {
        width: 25%;
        box-sizing: border-box;
        padding: 0 16px 32px;
    }

    .card-list--type__masonry.card-list--4col {
        column-count: 4;
    }

    .card-list--type__masonry {
        column-gap: 0;
    }

    .card-list--type__masonry .card {
        break-inside: avoid-column;
        padding-bottom: 64px;
        box-sizing: border-box;
        float: none;
        width: 100%;
    }
}

@media (min-width: 841px) and (max-width: 1024px) {
    .container__inner {
        width: 801px;
    }

    .card-list--type__title-over-image.card-list--4col .card__title {
        font-size: 26px;
        line-height: 34px;
    }

    .card-list--type__title-over-image.card-list--4col .card-media,
    .card-list--type__title-over-image.card-list--4col .card-media img,
    .card-list--type__title-over-image.card-list--4col .card__title {
        height: 170.25px;
    }
}

@media (min-width: 760px) and (max-width: 841px) {
    .container__inner {
        width: 720px;
    }

    .card-list .card {
        box-sizing: border-box;
        padding: 0 16px 32px;
        width: 50%;
    }

    .card .card__title {
        font-size: 1.375rem;
        line-height: 1.75rem;
        height: 298px;
    }

}

@media (min-width: 480px) and (max-width: 760px) {
    .card-list .card {
        box-sizing: border-box;
        padding: 0 16px 32px;
    }

    .card-list--4col .card-media__inner {
        max-height: 390px;
    }

    .card-list.card-list--4col .card:nth-child(odd) {
        clear: left;
    }

    .card-list .card .card-content,
    .card-list .card .card-header,
    .card-list .card .card-media {
        width: auto;
    }
}

.container__inner {
    padding: 16px 0;
}

.article-header {
    margin-bottom: 32px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.card {
    position: relative;
}

.card-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    list-style: none;
    padding: 0;
}

.card-list--type__title-over-image .card {
    max-width: 100%;
}

.card__inner {
    break-inside: avoid;
    display: block;
    padding-bottom: 16px;
    position: relative;
    text-align: left;
    background: transparent;
    color: #313131;
}

.card__inner:hover {
    color: #dc4b38;
}

.card-list--type__title-over-image .card:hover .card__title {
    background-color: #dc4b38;
}

a {
    text-decoration: none;
    background-color: transparent;
}

@media (min-width: 1024px) and (max-width: 1200px) {
    .card-list--type__title-over-image.card-list--4col .card-media {
        height: 216px;
    }
}

.card-media--image {
    box-sizing: border-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 12px;
    width: 100%;
}

.card-list .card-media__inner {
    display: flex;
    width: 100%;
    align-items: flex-end;
    justify-content: center;
}

.card-list .card-media__inner picture {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: flex-end;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.card-list--type__title-over-image.card-list--4col .card-media img {
    position: static;
    max-width: none;
    width: auto;
}

.card-media--image img {
    display: block;
    height: auto;
    margin: 0 auto;
    object-fit: contain;
    transition: opacity .8s;
}

.card-content {
    overflow: hidden;
    padding-bottom: 8px;
}

.card-list--type__title-over-image .card__title {
    display: flex;
    left: 0;
    margin: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    color: #fff;
    padding: 0 8px;
    transition: background-color .125s ease-in-out;
    letter-spacing: .11em;
}

.card__description {
    color: #767676;
    margin-bottom: 8px;
    margin-top: 8px;
}

.card-list .card .card__inner p {
    word-break: break-word;
}

.card-list.card-list--type__masonry {
    display: block;
}

.card-list .card-media__inner picture::after {
    background: rgba(0, 0, 0, .4);
    bottom: 0;
    content: "";
    height: 100%;
    opacity: 0;
    position: absolute;
    transition: opacity .8s;
    width: 100%;
}

.card-list .card__inner:hover picture::after {
    opacity: 1;
}

@media (min-width: 1200px) {
    .container__inner {
        width: 1136px;
    }

    .card-list--type__title-over-image.card-list--4col .card-media,
    .card-list--type__title-over-image.card-list--4col .card-media img,
    .card-list--type__title-over-image.card-list--4col .card__title {
        height: 260px;
    }

}

@media (min-width: 1200px) and (min-height: 720px) {
    .card-list--type__title-over-image.card-list--4col .card__title {
        font-size: 28px;
        line-height: 36px;
    }

    .card .card-content p {
        font-size: 17px;
        line-height: 27px;
    }
}

@media (min-width: 1024px) and (max-width: 1200px) {
    .container__inner {
        width: 960px;
    }

    .card-list--type__title-over-image.card-list--4col .card-media,
    .card-list--type__title-over-image.card-list--4col .card-media img,
    .card-list--type__title-over-image.card-list--4col .card__title {
        height: 216px;
    }
}

@media (min-width: 841px) and (max-width: 1024px) {
    .container__inner {
        width: 801px;
    }

    .card-list--type__title-over-image.card-list--4col .card__title {
        font-size: 26px;
        line-height: 34px;
    }

    .card-list--type__title-over-image.card-list--4col .card-media,
    .card-list--type__title-over-image.card-list--4col .card-media img,
    .card-list--type__title-over-image.card-list--4col .card__title {
        height: 170.25px;
    }
}

@media (min-width: 760px) and (max-width: 841px) {
    .container__inner {
        width: 720px;
    }

    .card-list .card {
        box-sizing: border-box;
        padding: 0 16px 32px;
        width: 50%;
    }

    .card .card__title {
        font-size: 1.375rem;
        line-height: 1.75rem;
        height: 298px;
    }

}

@media (min-width: 480px) and (max-width: 760px) {
    .card-list .card {
        box-sizing: border-box;
        padding: 0 16px 32px;
    }

    .card-list--4col .card-media__inner {
        max-height: 390px;
    }

    .card-list.card-list--4col .card:nth-child(odd) {
        clear: left;
    }

    .card-list .card .card-content,
    .card-list .card .card-header,
    .card-list .card .card-media {
        width: auto;
    }
}

@media (min-width: 1024px) and (max-width: 1200px) {
    .card-list--type__title-over-image.card-list--4col .card-media {
        height: 216px;
    }
}

/****EFFECTS****/
/****puzzle****/
body {
    font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
    border-width: 0;
    cursor: pointer;
}

#menu {
    position: relative;
    list-style-type: none;
    padding-left: 5px;
    z-index: 1000;
    /* 1 */
    display: inline-block;
    text-align: center;
}

#menu li {
    margin: 2px;
    padding: 4px 10px;
    border-radius: 5px;
    background-color: #ffff80;
}

#menu li:hover {
    background-color: #ffDD60;
}

#forPuzzle {
    position: absolute;
    width: 95vw;
    height: 95vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffdd;
    overflow: hidden;
}

.polypiece {
    display: block;
    overflow: hidden;
    position: absolute;
}

.moving {
    transition-property: top, left;
    transition-duration: 1s;
    transition-timing-function: linear;
}

.gameCanvas {
    display: none;
    overflow: hidden;
    position: absolute;
}

/***********Physogs*************/
.physogs-container {
    max-width: 100%;
    margin: 20px 0;
    font-size: 1.5em;
    display: block;
    text-align: center;
}

#prompt-image,
#backgrounds {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.background-option {
    width: 100px;
    height: 100px;
    cursor: pointer;
    border: 2px solid transparent;
}

.game-container {
    display: flex;
    height: 80vh;
}

@media (min-width: 440px) and (max-width: 630px) {
    .game-container {
        max-height: 500px;
    }
}

@media (max-width:439px) {
    .game-container {
        max-height: 400px;
    }
}

#background-grid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 2fr 2.7fr 1fr;
    background-size: contain;
    background-position: center;
    margin: 20px auto;
    border: 2px solid #ccc;
    aspect-ratio: 19/24;
    max-width: 100%;
}

.middle-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#game-grid {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    background-color: #fff;
    border: 2px solid #888;
    height: 100%;
    width: 100%;
}

.grid-cell {
    border: 1px dashed #ccc;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-pieces {
    max-width: 80rem;
    width: 100%;
    height: auto;
    padding: 0 2rem;
    margin: 0 auto;
}

.image-container {
    width: 16rem;
    height: auto;
    flex: 0 0 auto;
    margin: 0 0.75rem;
    border: none;
    outline: none;
}
.image-option {
    border-radius: 7px;
}
.background-option:hover,
.image-option:hover {
    box-shadow: 0 0 1px 6px #999;
}

#submit {
    margin: 20px;
    padding: 10px 20px;
    font-size: 1em;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#submit:hover {
    background-color: #0056b3;
}

#answer {
    margin: 20px;
    font-size: 1.2em;
    color: #28a745;
    display: none;
}

#correct-image {
    margin: 20px auto;
    display: none;
    max-width: 300px;
    border: 2px solid #ccc;
}

/*** cardslider ***/

#cardslider {
    background-color: #000;
    color: #fff;
    font-family: sans-serif;
    line-height: 1.6;
    background: radial-gradient(ellipse at top center,
            #310038 0%,
            #000000 100%);
    background-size: cover;
    min-height: 100vh;
    margin: 0;
}

.scroller {
    padding: 1rem;
    overflow: auto;
    scroll-timeline-name: --scroller;
    scroll-timeline-axis: inline;
}

ol {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 0;
    counter-reset: list-item;
    perspective: 9000px;
    transform-style: preserve-3d;
    perspective-origin: 50% 50%;

    >li {
        flex: 1 1 240px;
        min-width: 240px;
        border: 1px solid currentColor;
        padding: 1rem;
        animation: auto ease-in-out intro forwards,
            auto ease-in-out outro forwards;
        animation-timeline: view(inline);
        animation-range: entry, exit;
        transform-origin: bottom center;
    }

    p,
    h2 {
        margin-top: 1rem;
        margin-bottom: 0;
    }

    h2 {
        color: #aaa;
        font-weight: normal;
    }
}

ol>li {
    display: flex;
    flex-direction: column;
    color: #545454;
    position: relative;
    overflow: hidden;

    &::before {
        counter-increment: list-item;
        content: counter(list-item) ".";
        font-size: 5em;
        font-weight: bold;
        color: #dc4b38;
        margin-bottom: 1rem;
        line-height: 1;
    }

    &::after {
        content: "";
        background-image: var(--bg);
        position: absolute;
        inset: -20px;
        background-size: cover;
        transform: scale(1);
        transition: transform 0.5s ease-out, opacity 0.4s linear;
        opacity: 0;
        z-index: -1;
    }

    &:hover {
        color: #fff;

        &::after {
            transform: scale(1.1) rotate(4deg);
            opacity: 0.8;
        }
    }
}

/**Play with the intro and outro animations!**/

@keyframes intro {
    from {
        transform-origin: center left;
        opacity: 0;
        scale: 0;
        rotate: z -90deg;
        translate: 0 -100%;
    }

    to {
        transform-origin: center left;
        opacity: 1;
        scale: 1;
        rotate: z 0deg;
        translate: 0 0;
    }
}

@keyframes outro {
    from {
        transform-origin: center right;
        opacity: 1;
        scale: 1;
        translate: 0 0;
    }

    to {
        transform-origin: center right;
        opacity: 0;
        scale: 0;
        translate: 0 100%;
    }
}

/*** scroll bar ***/
.main img {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.containersb {
    max-width: 80rem;
    width: 100%;
    height: auto;
    padding: 0 2rem;
    margin: 0 auto;
}

.truncate {
    display: -webkit-box;
    max-width: 100%;
    height: auto;
    overflow: hidden;
    text-overflow: ellipsis;
}

.main .scroll {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 1rem 0;
    cursor: default;
    overflow: scroll hidden;
    scroll-snap-type: x mandatory;
    scroll-padding: 0px 1.25rem;
    scrollbar-width: none;
}

.main .active {
    cursor: grab;
    cursor: -webkit-grab;
}

.cardsb {
    width: 16rem;
    height: auto;
    flex: 0 0 auto;
    margin: 0 0.75rem;
    border: none;
    outline: none;
    border-radius: 0.25rem;
}

.cardsb-image {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    padding-top: 110%;
}

.cardsb-image img.responsive {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cardsb .card-inner {
    width: 100%;
    height: auto;
    padding: 1rem;
}