@charset "utf-8";
/* CSS Document */
@import 'styles/_variables';

/****EFFECTS****/
/***********Physogs*************/
.physogs-container {
    max-width: 100%;
    margin: 20px 0;
    font-size: 1.5em;
    display: block;
    text-align: center;
}

#prompt-image,
#backgrounds {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.background-option {
    width: 100px;
    height: 100px;
    cursor: pointer;
    border: 2px solid transparent;
}

.game-container {
    display: flex;
    height: 80vh;
}

@media (min-width: 440px) and (max-width: 630px) {
    .game-container {
        max-height: 500px;
    }
}

@media (max-width:439px) {
    .game-container {
        max-height: 400px;
    }
}

#background-grid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 2fr 2.7fr 1fr;
    background-size: contain;
    background-position: center;
    margin: 20px auto;
    border: 2px solid #ccc;
    aspect-ratio: 19/24;
    max-width: 100%;
}

.middle-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#game-grid {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    background-color: #fff;
    border: 2px solid #888;
    height: 100%;
    width: 100%;
}

.grid-cell {
    border: 1px dashed #ccc;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-pieces {
    max-width: 80rem;
    width: 100%;
    height: auto;
    padding: 0 2rem;
    margin: 0 auto;
}

.image-container {
    width: 16rem;
    height: auto;
    flex: 0 0 auto;
    margin: 0 0.75rem;
    border: none;
    outline: none;
}
.image-option {
    border-radius: 7px;
}
.background-option:hover,
.image-option:hover {
    box-shadow: 0 0 1px 6px #999;
}

#submit {
    margin: 20px;
    padding: 10px 20px;
    font-size: 1em;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#submit:hover {
    background-color: #0056b3;
}

#answer {
    margin: 20px;
    font-size: 1.2em;
    color: #28a745;
    display: none;
}

#correct-image {
    margin: 20px auto;
    display: none;
    max-width: 300px;
    border: 2px solid #ccc;
}
#solution-image {
    margin: 20px auto;
    display: none;
    max-width: 300px;
    border: 2px solid #ccc;
}

/*** scroll bar ***/
.main img {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.containersb {
    max-width: 80rem;
    width: 100%;
    height: auto;
    padding: 0 2rem;
    margin: 0 auto;
}

.truncate {
    display: -webkit-box;
    max-width: 100%;
    height: auto;
    overflow: hidden;
    text-overflow: ellipsis;
}

.main .scroll {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 1rem 0;
    cursor: default;
    overflow: scroll hidden;
    scroll-snap-type: x mandatory;
    scroll-padding: 0px 1.25rem;
    scrollbar-width: none;
}

.main .active {
    cursor: grab;
    cursor: -webkit-grab;
}

.cardsb {
    width: 16rem;
    height: auto;
    flex: 0 0 auto;
    margin: 0 0.75rem;
    border: none;
    outline: none;
    border-radius: 0.25rem;
}

.cardsb-image {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    padding-top: 110%;
}

.cardsb-image img.responsive {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cardsb .card-inner {
    width: 100%;
    height: auto;
    padding: 1rem;
}

/*** 3D Wave ***/

.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.items{
    display: flex;
    gap: 0.4rem;
    perspective: calc(var(--index) * 35);
}

.item{
    width: calc(var(--index) * 3);
    height: calc(var(--index) * 12);
    background-color: #222;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    filter: grayscale(1) brightness(.5);
    transition: transform 1.25s var(--transition), filter 3s var(--transition), width 1.25s var(--transition);
    will-change: transform, filter, rotateY, width;
}

.item::before, .item::after{
    content: '';
    position: absolute;
    height: 100%;
    width: 20px;
    right: calc(var(--index) * -1);
}

.item::after{
    left: calc(var(--index) * -1);
}

.items .item:hover{
    filter: inherit;
    transform: translateZ(calc(var(--index) * 10));
}

/*Right*/

.items .item:hover + *{
    filter: inherit;
    transform: translateZ(calc(var(--index) * 8.5)) rotateY(35deg);
    z-index: -1;
}

.items .item:hover + * + *{
    filter: inherit;
    transform: translateZ(calc(var(--index) * 5.6)) rotateY(40deg);
    z-index: -2;
}

.items .item:hover + * + * + *{
    filter: inherit;
    transform: translateZ(calc(var(--index) * 2.5)) rotateY(30deg);
    z-index: -3;
}

.items .item:hover + * + * + * + *{
    filter: inherit;
    transform: translateZ(calc(var(--index) * .6)) rotateY(15deg);
    z-index: -4;
}


/*Left*/

.items .item:has( + :hover){
    filter: inherit;
    transform: translateZ(calc(var(--index) * 8.5)) rotateY(-35deg);
}

.items .item:has( + * + :hover){
    filter: inherit;
    transform: translateZ(calc(var(--index) * 5.6)) rotateY(-40deg);
}

.items .item:has( + * + * + :hover){
    filter: inherit;
    transform: translateZ(calc(var(--index) * 2.5)) rotateY(-30deg);
}

.items .item:has( + * + * + * + :hover){
    filter: inherit;
    transform: translateZ(calc(var(--index) * .6)) rotateY(-15deg);
}

.items .item:active, .items .item:focus {
	width: 28vw;
	filter: inherit;
	z-index: 100;
	transform: translateZ(calc(var(--index) * 10));
    margin: 0 .45vw;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --index: calc(1vw + 1vh);
    --transition: cubic-bezier(.1, .7, 0, 1);
}

/********************************/
/***pinboard*******/
/*******************************/
 
@media (min-width: 841px) {
    .pinboard-card-list--4col .pinboard-card {
        width: 25%;
        box-sizing: border-box;
        padding: 0 16px 32px;
    }
  
    .pinboard-card-list--type__masonry.pinboard-card-list--4col {
        column-count: 4;
    }
  
    .pinboard-card-list--type__masonry {
        column-gap: 0;
    }
  
    .pinboard-card-list--type__masonry .pinboard-card {
        break-inside: avoid-column;
        padding-bottom: 64px;
        box-sizing: border-box;
        float: none;
        width: 100%;
    }
  }
  
  .pinboard-container__inner {
    padding: 16px 0;
  }
  
  .pinboard-card {
    position: relative;
  }
  
  .pinboard-card-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    list-style: none;
    padding: 0;
  }
  
  .pinboard-card-list--type__title-over-image .pinboard-card {
    max-width: 100%;
  }
  
  .pinboard-card__inner {
    break-inside: avoid;
    display: block;
    padding-bottom: 16px;
    position: relative;
    text-align: left;
    background: transparent;
    color: #313131;
  }
  
  .pinboard-card__inner:hover {
    color: #dc4b38;
  }
  
  .pinboard-card-list--type__title-over-image .pinboard-card:hover .pinboard-card__title {
    background-color: #dc4b38;
  }
  
  a {
    text-decoration: none;
    background-color: transparent;
  }
  
  .pinboard-card-media--image {
    box-sizing: border-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 12px;
    width: 100%;
  }
  
  .pinboard-card-list .pinboard-card-media__inner {
    display: flex;
    width: 100%;
    align-items: flex-end;
    justify-content: center;
  }
  
  .pinboard-card-list .pinboard-card-media__inner picture {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: flex-end;
    justify-content: center;
    overflow: hidden;
    position: relative;
  }
  
  .pinboard-card-list--type__title-over-image.pinboard-card-list--4col .pinboard-card-media img {
    position: static;
    max-width: none;
    width: auto;
  }
  
  .pinboard-card-media--image img {
    display: block;
    height: auto;
    margin: 0 auto;
    object-fit: contain;
    transition: opacity .8s;
  }
  
  .pinboard-card-content {
    overflow: hidden;
    padding-bottom: 8px;
  }
  
  .pinboard-card-list--type__title-over-image .pinboard-card__title {
    display: flex;
    left: 0;
    margin: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    color: #fff;
    padding: 0 8px;
    transition: background-color .125s ease-in-out;
    letter-spacing: .11em;
  }
  
  .pinboard-card__description {
    color: #767676;
    margin-bottom: 8px;
    margin-top: 8px;
  }
  
  .pinboard-card-list .pinboard-card .pinboard-card__inner p {
    word-break: break-word;
  }
  
  .pinboard-card-list.pinboard-card-list--type__masonry {
    display: block;
  }
  
  .pinboard-card-list .pinboard-card-media__inner picture::after {
    background: rgba(0, 0, 0, .4);
    bottom: 0;
    content: "";
    height: 100%;
    opacity: 0;
    position: absolute;
    transition: opacity .8s;
    width: 100%;
  }
  
  .pinboard-card-list .pinboard-card__inner:hover picture::after {
    opacity: 1;
  }
  
  @media (min-width: 1200px) {
    .pinboard-container__inner {
        width: 1136px;
    }
  
    .pinboard-card-list--type__title-over-image.pinboard-card-list--4col .pinboard-card-media,
    .pinboard-card-list--type__title-over-image.pinboard-card-list--4col .pinboard-card-media img,
    .pinboard-card-list--type__title-over-image.pinboard-card-list--4col .pinboard-card__title {
        height: 260px;
    }
  
  }
  
  @media (min-width: 1200px) and (min-height: 720px) {
    .pinboard-card-list--type__title-over-image.pinboard-card-list--4col .pinboard-card__title {
        font-size: 28px;
        line-height: 36px;
    }
  
    .pinboard-card .pinboard-card-content p {
        font-size: 17px;
        line-height: 27px;
    }
  }
  
  @media (min-width: 1024px) and (max-width: 1200px) {
    .pinboard-container__inner {
        width: 960px;
    }
  
    .pinboard-card-list--type__title-over-image.pinboard-card-list--4col .pinboard-card-media,
    .pinboard-card-list--type__title-over-image.pinboard-card-list--4col .pinboard-card-media img,
    .pinboard-card-list--type__title-over-image.pinboard-card-list--4col .pinboard-card__title {
        height: 216px;
    }
  }
  
  @media (min-width: 841px) and (max-width: 1024px) {
    .pinboard-container__inner {
        width: 801px;
    }
  
    .pinboard-card-list--type__title-over-image.pinboard-card-list--4col .pinboard-card__title {
        font-size: 26px;
        line-height: 34px;
    }
  
    .pinboard-card-list--type__title-over-image.pinboard-card-list--4col .pinboard-card-media,
    .pinboard-card-list--type__title-over-image.pinboard-card-list--4col .pinboard-card-media img,
    .pinboard-card-list--type__title-over-image.pinboard-card-list--4col .pinboard-card__title {
        height: 170.25px;
    }
  }
  
  @media (min-width: 760px) and (max-width: 841px) {
    .pinboard-container__inner {
        width: 720px;
    }
  
    .pinboard-card-list .pinboard-card {
        box-sizing: border-box;
        padding: 0 16px 32px;
        width: 50%;
    }
  
    .pinboard-card .pinboard-card__title {
        font-size: 1.375rem;
        line-height: 1.75rem;
        height: 298px;
    }
  
  }
  
  @media (min-width: 480px) and (max-width: 760px) {
    .pinboard-card-list .pinboard-card {
        box-sizing: border-box;
        padding: 0 16px 32px;
    }
  
    .pinboard-card-list--4col .pinboard-card-media__inner {
        max-height: 390px;
    }
  
    .pinboard-card-list.pinboard-card-list--4col .pinboard-card:nth-child(odd) {
        clear: left;
    }
  
    .pinboard-card-list .pinboard-card .pinboard-card-content,
    .pinboard-card-list .pinboard-card .pinboard-card-header,
    .pinboard-card-list .pinboard-card .pinboard-card-media {
        width: auto;
    }
  }
  
  @media (min-width: 1024px) and (max-width: 1200px) {
    .pinboard-card-list--type__title-over-image.pinboard-card-list--4col .pinboard-card-media {
        height: 216px;
    }
  }
  