@import url('https://cloud.typography.com/7225774/6825212/css/fonts.css');
/* This loads the Gotham webfont and must be at the beginning of the CSS file. */

/* When updating this file, you can add a dummy query string (like the revision date) 
/* to its URL in the admin view to prevent browsers from loading the old version
/* from their cache. E.g., upload "cdm.css", then change the custom CSS file name
/* 		from	/global//cdm.css
/* 		  to 	/global//cdm.css?v=20190328 */

/* Original (4/2019) customizations by Lilith Bently (web services). Additional customizations (8/2019) by Iris Jastram (Library). */

/* color and typography customizations: self-explanatory */
body {
	font-family:'Gotham SSm A','Gotham SSm B',system-ui,sans-serif;	
	color:#333333;
	background-color: #ffffff;
	font-style:normal;
}
body,
p,
ul,
ol,
dl,
div {
	font-weight:normal;
	font-size:1rem;
}
h1 {
	font-family:'Gotham SSm A','Gotham SSm B',system-ui,sans-serif;
	font-size:1.5rem;
	font-weight:bold;
	color:#333333;
	font-style:normal;
	text-decoration:none;
}
h2,
h2 a,
h2 a:hover,
h2 a:visited {
	font-family:'Gotham SSm A','Gotham SSm B',system-ui,sans-serif;
	font-size:1.25rem;
	font-weight:bold;
	color:#0b5091;
	font-style:normal;
	text-decoration:none;
}
h2.GridSearchResult-cardTitle {
	font-size:0.85rem !important;
}
h3 {
	font-family:'Gotham SSm A','Gotham SSm B',system-ui,sans-serif;
	font-size:1.125rem;
	font-weight:normal;
	color:#333333;
	font-style:normal;
	text-decoration:none;
}
a,
a#filter-by-collection-cancel-button {
	font-family:'Gotham SSm A','Gotham SSm B',system-ui,sans-serif;
	font-size:1rem;
	font-weight:normal;
	color:#0b5091;
	font-style:normal;
	text-decoration:none;
}
a:hover,
a:active,
a:focus {
	text-decoration:underline;
}
a:visited,
a#filter-by-collection-cancel-button {
	color:#0b5091
}
.search-clear-query-button { 
	color:#ffffff
}
.f-dropdown li a {
	color:#333333;
	font-weight:700
}
.navbar-default {
	background-color:#0b5091;
}
.header-text {
	color:#ffffff;
	font-size:1.125rem;
}
.cdm-btn.btn-primary,
.cdm-btn.btn-default:hover {
	background-color:#006FA7;
	color:#fff;
}
.cdm-btn {
	font-family:'Gotham SSm A','Gotham SSm B',system-ui,sans-serif;
	font-size:1rem;
	font-weight:bold;
}
.cdm-btn.btn-primary:focus,
.cdm-btn.btn-primary:hover,
.cdm-btn.btn-primary:active,
.cdm-btn.btn-primary:active:focus,
.cdm-btn.btn-primary:active:hover {
	background-color:#c3d6e8;
	color:#0b5091;
}
.headerIconButton:active:hover,
.headerIconButton:active:focus,
.headerIconButton:hover,
.headerIconButton:focus,
.headerIconButton:active:hover a,
.headerIconButton:active:focus a,
.headerIconButton:hover a,
.headerIconButton:focus a,
.open.dropdown>.headerIconButton a,
.open.dropdown>.headerIconButton,
.open>.dropdown-toggle.headerIconButton:focus,
.open>.dropdown-toggle.headerIconButton:hover {
	background-color:#c3d6e8;
	color:#0b5091;
}
a.headerIcon,
a.SimpleSearch-headerAdvancedSearchButtonLink:visited,
a.SimpleSearch-headerAdvancedSearchButtonLink {
	color:#ffffff;
}
.SearchHeader-container h3 {
    font-size: .75rem;
}
.titleDiv,
.Card-cardText {
	padding:3px;
}
a.shared-box,
p.Card-cardText.truncation::before,
div.Card-cardTextHolder>div>h2.titleDiv::before,
div.Card-cardTextHolder>div>h2.titleDiv,
.Card-cardText,
div.Card-cardTextHolder>div>h2.titleDiv::after,
p.Card-cardText.truncation::after {
	background-color: #cdddec;
}
a.shared-box:hover,
a.shared-box:active,
a.shared-box:focus {
	background-color: #c3d6e8;
}
.cdm-footer a:visited {
	color:#0b5091;
}
.cdm-footer a:hover {
	color:#0b5091;
}
.Paginator-paginationwrapper {
	background-color: transparent;
}
.pagination>.active>a,
.pagination>.active>a:hover,
.pagination>li>a:hover,
.cdm-toggle-btn.active,
.cdm-toggle-btn.active:hover,
.cdm-toggle-btn.btn-default:hover,
.cdm-toggle-btn.btn-default:focus {
	color:#fff;
	background-color:#0b5091;
}

/* Additional tweaks */

/* Hide "Log out" links.
/* They donÃ¢â‚¬â„¢t use any specific classes, so I take advantage of the fact
/* that theyÃ¢â‚¬â„¢re always the last item in specific lists */
ul.Header-headerMenuLinks>li:last-child,
ul.FooterNavigationLinks-footerLinksHolder>li:last-child {
	display: none;
}

/* Un-round the corners.
/* This is a blunt tool, but it works on content blocks without affecting buttons */
div,
.shared-box {
	border-radius: 0 !important;
}

/* Change bottom link list to look more visually distinct. */
ul.FooterNavigationLinks-footerLinksHolder li {
    padding: 0;
    border-top: 1px solid #ffffff;
}
ul.FooterNavigationLinks-footerLinksHolder li+li {
    border-left: 1px solid #ffffff;
}
ul.FooterNavigationLinks-footerLinksHolder li a:link,
ul.FooterNavigationLinks-footerLinksHolder li a:visited {
	display: block;
    padding: 5px 10px;
	color:#fff;
	background-color:#0b5091;
	text-decoration: none;
}
ul.FooterNavigationLinks-footerLinksHolder li a:hover,
ul.FooterNavigationLinks-footerLinksHolder li a:active,
ul.FooterNavigationLinks-footerLinksHolder li a:focus {
	background-color:#c3d6e8;
	color:#0b5091;
}@charset "utf-8";
/* CSS Document */

