libraries.uark.edu/stylesheets/digital-collections.css

/* ======================================== */
/* For http://digitalcollections.uark.edu/ */
/* ======================================== */

@import url("https://use.fontawesome.com/releases/v5.5.0/css/all.css");
@import url("https://use.fontawesome.com/releases/v5.6.3/css/v4-shims.css");
@import url("//fonts.googleapis.com/css?family=Lato:300,400,700");
@import url("//fonts.googleapis.com/css?family=Playfair+Display");


@import url("//libraries.uark.edu/stylesheets/resets.css");
@import url("//libraries.uark.edu/stylesheets/lib-style.css");


@import url("//libraries.uark.edu/stylesheets/digital-collections.css");




/* ======================================== */
/* For http://digitalcollections.uark.edu/ */
/* ======================================== */


/*.PreviewBanner-previewBarContainer {display: none;}
*/

:focus, .btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus  {
	outline: none;
}

body {
    background: #fff;
}

a {
	font-size: inherit;
	text-decoration: underline;
	}

a, a:link, a:visited {
    color: #a00;
	}
	
#dropdown-menu-pull-right a {
  text-decoration: none;
}



.CoreLayout-mainWrapperContainer, .preview-mode .CoreLayout-mainWrapperContainer {
	margin-top: 20px;
	}

.cdm-collection-landing-page .CoreLayout-mainWrapperContainer, .preview-mode .cdm-collection-landing-page .CoreLayout-mainWrapperContainer {
	margin-top: 0;
	}




	h2.titleDiv {
	  font-size: 1.4em !important;
		margin-bottom: 5px !important;
		line-height: 1.2em !important;
	}

	.Card-cardText {
    font-size: 1em !important;
	}

	a.Card-fullcard {
    color: #5a5a5a;
	}

	a.Card-fullcard:hover h2 {
		color: #a00;
	}


/*------------$$$$$$$$$$$$$$$$$$----------------*/
/*------------$$$$$$$$$$$$$$$$$$----------------*/


#hero, .CollectionLanding-mainLandingImage {
	max-height: 400px;
	overflow: hidden;
	position: relative;
	margin-bottom: 30px;
}

#hero img, .CollectionLanding-mainLandingImage img {
	width: 100%;
}

#hero a.browseAll, .CollectionLanding-mainLandingImage a.CollectionLanding-landingBrowseButton {
	position: absolute;
	box-shadow: 0 0 10px #000;
	font-size: 1.1em;
	bottom: 10px;
}

#hero a.browseAll:hover, .CollectionLanding-mainLandingImage a.CollectionLanding-landingBrowseButton:hover {
    background-color: #fff;
}


.CollectionLanding-mainLandingImage {
    text-align: left;
}

.cdm-collection-landing-page .btn.btn-primary {
	background-color: #9d2235;
    color: #fff;
    border: 1px solid #f2f2f4 !important;
    text-align: left;
    padding: 6px 12px;
    min-width: 0;
    margin-top: 30px;
    margin-bottom: 0 !important;
    font-size: 15px;
    border-radius: 5px;
}

.btn.btn-primary:hover {
	background-color: #fff;
    color: #9d2235;
    border-color: #9d2235 !important;
}

.CollectionLanding-landingBrowseButton:before {
	content: "\f00a";
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    margin-right: 5px;
}

/*------------$$$$$$$$$$$$$$$$$$----------------*/
/*------------$$$$$$$$$$$$$$$$$$----------------*/

body, p, ul, ol, dl, h1, h2, h3, h4, h5, h6, input, pre, div {
    font-family: 'Lato', 'Helvetica Neue', Helvetica, sans-serif;
    outline: none;
    font-size: 16px;
    line-height: 1.5em;
}

h1 {
	color: #333;
	font-size: 1.6em;
	font-weight: 400;
}

h2 {
	color: #333;
	font-size: 1.4em;
	font-weight: 400;
}




h3 {
	color: #333;
	font-size: 1.3em;
}

h2 a, h2 a:hover, h2 a:visited {
	color: #a00;
}

.CoreLayout-headerContainer {
	position: static;
}



.Header-logoHolder {
	margin-top: 2px;
}




.Header-header .Header-logoImage {
    padding: 0;
    margin-left: 0 !important;
    margin-top: 0 !important;
    width: 195px;
    height: 70px;
    max-height: none;
}

.Header-header .Header-mobileTitleHide {
    display: block;
}

#headerNameDiv {
	padding-left: 202px;
	padding-top: 2px;
}


#headerNameDiv a:hover h2 {
  color: #9d2235;
}

#headerNameDiv a:hover h2:before {
  color: #424242;
}

#headerNameDiv h2:before {
	content: "University Libraries";
	display: block;
	font-size: 25px;
	font-weight: 400;
}


#headerNameDiv h2 {
	font-size: 28px;
	color: #424242;
	line-height: 1.2em;
	font-weight: 200;
}

#headerNameDiv .Header-titleText {
    white-space: normal;
    overflow: visible;
    margin-top: 10px;

}

#headerNameDiv .Header-titleText span {
    display: block;
    font-size: 1.2em;
    }

#collection-tiles, #about-dc {
    clear: both;
    padding: 30px 0;
}

.CollectionLanding-maincontainer {
  padding-top: 0;
}

.CollectionLanding-maincontentLanding {
	margin-top: 0;
	}

.CollectionLanding-maincontentLanding .grayDividerLine, .CollectionLanding-aboutCollection {
	display: none;
	}

#samples:before {
	content: "From the Collection";
	display: block;
	position: absolute;
	top: -11px;
	left: 30px;
	background: #fff;
	border-radius: 8px;
	padding: 0 10px;
	font-weight: 600;
	box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

#samples:after {
	content: "";
	display: table;
	clear: both;
}

#samples {
	box-shadow: 0 0 5px rgba(0,0,0,0.3);
	margin: 50px 5px 40px;
	padding: 35px 15px 20px;
	border-radius: 8px;
	position: relative;
	display: flex;
}

#samples li {
	list-style-type: none;
	margin: 0;
	padding: 0 20px;
	vertical-align: top;
	position: relative;
}

#samples li p {
	margin-top: 8px;
	font-size: .9em;
}

#samples li p a {
	font-weight: 600;
}

.shared-contentContainer {
	width: auto;
}

#footerBrowseAll {
	text-align: center;
	margin: 30px auto;
	}

.Footer-footerWrapper.cdm-footer {
	border-top: 1px solid #ddd;
	background-color: #efefef;
	padding-top: 20px;
	margin-top: 20px;
	}

.Footer-footerWrapper.cdm-footer .shared-box {
    background-color: transparent;
}


/* ----------- Item View ----------- */


@media only screen and (min-width: 768px) {

/* Header */

	#dropdown-menu-pull-right {
      background-color: transparent;
      padding: 0;
    }

	
	.Header-headerContainer {
      border-top: 5px solid #9d2235;
      border-bottom: 1px solid #999;
      box-shadow: 0 2px 5px rgba(0,0,0,.25);
    }
    
    .Header-header {
      background-color: #f2f2f4;
      height: 145px;
    }

	.Header-header .Header-controls {
    	/*background-color: #f2f2f4;*/
    	 box-shadow: 0 -1px 2px rgba(0,0,0,.1);
    	border-radius: 0;
    	min-height: 42px;
    	max-height: 42px;
    	border: none;
    	text-align: center;
	}

	.Header-header .Header-headerMenuLinks {
    	position: static;
    	display: flex;
    	float: none;
    	font-size: 1em;
    	max-height: 44px;
    	border: none;
    	box-shadow: none;
    	justify-content: space-evenly;
	}

	.Header-header .Header-controls {
		position: static;
		width: 100%;
	}

	.Header-header .Header-hamburgerHolder, .Header-header .dropdown.btn-group {
		float: none;
		display: block;
		margin: 0 0 0 0;
		padding: 0 0 0 0;
	}


	.Header-header .Header-hamburgerHolder .dropdown-menu {
		margin-top: 0;
		margin-bottom: 0;
	}

	.Header-header .Header-logoNameContainer {
		height: 104px;
		overflow: visible;
	}

/*
	.Header-header .Header-headerMenuLinks {
		padding: 0 0 0 247px;
	}
*/

	.Header-header .Header-headerMenuLinks li {
    	/*display: inline-block;*/
	}

	.Header-header .Header-headerMenuLinks li h3 {
    	color: #333;
    	font-size: 15px;
	}

	.Header-header .Header-headerMenuLinks li h3, .Header-header .Header-headerMenuLinks li a:hover h3 {
        font-size: 17px;
        line-height: 1.5em;
    	color: #343a40 !important;
	}


    
    
    .Header-headerMenuLinks li a:focus, .Header-headerMenuLinks li a:hover {
      box-shadow: inset 0 3px 0 #ab0000;
      line-height: 1.6rem;
      outline: none;
      transition: box-shadow .15s ease-in-out;
      background-color: transparent !important;
      color: #343a40 !important;
    }

	



	.Header-valerieBar, .Header-header .btn-group>.btn {
		display: none;
	}

	.Header-header .SimpleSearch-searchBox {
    	position: absolute;
    	top: 18px;
    	right: 10px;
	}

	.Header-header .SimpleSearch-searchInputLabel {
		float: none;
		font-size: 1em;
		margin-top: 5px;
	}

	.Header-header .SimpleSearch-searchInputLabel a {
		text-decoration: underline !important;
	}

	.cdm-custom-page .Header-header .SimpleSearch-searchBox {
		position: static;
    	float: none;
    	background-color: #f2f2f4;
    	padding: 26px 30px 20px;
    	border-radius: 20px;
    	border: 1px solid #ccc;
    	margin: 40px 30px;
	}

	.cdm-custom-page .Header-header .SimpleSearch-searchInputLabel {
		float: none;
		font-size: 1em;
		margin-top: 10px;
	}

	.Header-header .SimpleSearch-searchInputLabel {
		margin-top: 10px;
		text-align: left;
	}

	.cdm-custom-page .Header-header .SimpleSearch-searchInput input {
		border-top-left-radius: 4px;
		border-bottom-left-radius: 4px;
	}

	.cdm-custom-page .Header-header .SimpleSearch-searchHolder {
		border-top-right-radius: 4px;
		border-bottom-right-radius: 4px;
	}

	.Header-header .SimpleSearch-searchInput {
    	width: 250px;
    	margin-top: 0;
	}

	.cdm-custom-page .Header-header .SimpleSearch-searchInput {
    	width: 100%;
	}

	.Header-header .SimpleSearch-searchInput input {
    	background-color: #fff;
    	border: 1px solid #ccc;
    	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    	box-sizing: border-box !important;
    	padding: 5px;
    	height: 32px;
	}

	.Header-header .SimpleSearch-searchHolder {
		margin-left: 0;
		height: 32px;
		background: #ddd;
		border: 1px solid #ccc;
		border-left: none;
	}

	.Header-header .SimpleSearch-searchHolder #search-button .headerIcon .fa-2x {
		color: #333;
		font-size: 18px;
		line-height: 1.3em;
	}

	a.headerIcon, a.SimpleSearch-headerAdvancedSearchButtonLink:visited, a.SimpleSearch-headerAdvancedSearchButtonLink {
    	color: #a00;
	}

	.Header-header .SimpleSearch-searchHolder #search-button:hover, .Header-header .SimpleSearch-searchHolder #search-button:hover a, .Header-header .SimpleSearch-searchHolder #search-button:focus, .Header-header .SimpleSearch-searchHolder #search-button:focus a {
    	background: transparent;
	}

	.CoreLayout-mainwrapper {
    	margin-top: 0;
    	padding-right: 0;
    	padding-left: 0;
	}

	p.intro, div.intro p {
    	line-height: 1.6em;
    	margin: 60px 60px 40px;
    	font-size: 1.3em;
	}

	p.intro:first-letter, div.intro p:first-letter {
  		font-size: 3em;
  		color: #000;
		float: left;
		font-family: 'Playfair Display', 'Times', serif;
		line-height: .95em;
		padding-right: 10px;
		padding-top: 9px;
	}
}

h1.ItemTitle-primaryTitle {
	text-align: left;
}


/* ----------- Collection / Search Results ----------- */


.DesktopSearchHeader-container h3 {
	font-size: 1em;
	}

.DesktopSearchHeader-container .SearchInfo-infoBox {
	max-width: 30%;
}



.ResultsDisplaySelector-displayOptionContainer span {
	font-size: 14px;
}

.ResultsDisplaySelector-displayOptionContainer button {
	width: 32px;
}

a.SearchResult-container {
color: #333;

}

a.SearchResult-container .MetadataField-content.truncation {
	max-height: none !important;
	overflow: visible !important;
	display: block !important;
}

a.SearchResult-container h2 {
	color: #a00;
	text-decoration: underline;
}

.cdm-collection-page-UASpeeches h1.CollectionLanding-pageTitle {
	margin-top: 50px;
}






@media (max-width: 575px) {

	#hero a.browseAll, .CollectionLanding-mainLandingImage a.CollectionLanding-landingBrowseButton {
		left: 10px;
	}

	div.youtube iframe {
		height: 300px;
	}

}


@media (min-width: 576px) {


	#hero h1, .CollectionLanding-mainLandingImage h1 {
		position: absolute;
		bottom: 10px;
		left: 20px;
		max-width: 50%;
		margin: 0;
		line-height: 1.2em;
	}

	#hero h1 span, .CollectionLanding-mainLandingImage h1 span {
		background-color: rgba(0,0,0,0.6);
		color: #fff;
		padding: 0 10px;
		font-family: 'Playfair Display', 'Times', serif;
		font-weight: 400;
		font-size: 1em;
	}

	#hero a.browseAll, .CollectionLanding-mainLandingImage a.CollectionLanding-landingBrowseButton {
		right: 20px;
	}


	div.youtube iframe {
		height: 320px;
	}


}

@media only screen and (max-width: 767px) {

	.Header-header .Header-logoHolder {
    	display: none;
	}

	.Header-header #headerNameDiv {
		padding-left: 20px;
		padding-top: 0;
	}

	.Header-header #headerNameDiv .header-text {
		font-size: 1.5em;
	}

	.CollectionLanding-pageTitle {
		font-size: 1.5em !important;
	}



  .SimpleSearch-searchBox {
    top: 71px;
  }



}


@media only screen and (max-width: 991px) {


	.figure {
		margin-bottom: 30px;
	}

	div.youtube iframe {
		height: 460px;
	}

}

@media only screen and (min-width: 768px) {
	#headerNameDiv .Header-titleText {
      border-left: 1px solid #999;
    }
}


@media only screen and (min-width: 768px) and (max-width: 991px) {


	.Header-header .SimpleSearch-searchInputLabel {
    	margin-top: 6px;
	}

}


@media only screen and (min-width: 992px) {

	.Header-headerMenuLinks li a {
    	margin: 0 20px;
    	padding: 8px 16px;
	}

	#headerNameDiv {
		width: 700px;
	}

	#samples li:not(:first-child) {
    	border-left: 1px solid #eee;

	}
	

}



@media only screen and (max-width: 1199px) {

	.Header-logoHolder {
		left: 30px;
	}

	.CoreLayout-mainWrapperContainer {
		padding: 0 30px;
	}

}


@media only screen and (min-width: 1200px) {

	.Header-logoNameContainer {
    	position: relative;
	}

	.Header-logoNameContainer, .Header-header .Header-headerMenuLinks, .CoreLayout-mainwrapper, .CollectionLanding-maincontentLanding {
		max-width: 1170px;
		margin-right: auto;
    	margin-left: auto;
	}

	.cdm-collection-landing-page .Header-header .SimpleSearch-searchBox {
		right: 0;
	}

}