@charset "utf-8";

/* CSS Document */



/**********************************************************************/

/************************** COMMON ELEMENTS **************************/

/********************************************************************/

body {

    background-color: #ffffff;

    color: #555555;

    font-family: sans-serif;

}

h2 {

    font-size: 1.0rem;

    font-weight: bold;

    /* color: #2178B5; */

    font-style: normal;

    text-decoration: none;

}

p, a {

	line-height: 1.6;

}

h2.MetadataFields-header {color:#337ab7;}

a.btn.btn-browse {

    color: #ffffff;

    background-color: #611BBD;

    border-color: #130269;

}

.btn-browse:hover, 

.btn-browse:focus, 

.btn-browse:active, 

.btn-browse.active, 

.open .dropdown-toggle.btn-browse { 

  color: #ffffff; 

  background-color: #49247A; 

  border-color: #130269; 

} 

.btn-browse:active, 

.btn-browse.active, 

.open .dropdown-toggle.btn-browse { 

  background-image: none; 

}  

.btn-browse.disabled, 

.btn-browse[disabled], 

fieldset[disabled] .btn-browse, 

.btn-browse.disabled:hover, 

.btn-browse[disabled]:hover, 

fieldset[disabled] .btn-browse:hover, 

.btn-browse.disabled:focus, 

.btn-browse[disabled]:focus, 

fieldset[disabled] .btn-browse:focus, 

.btn-browse.disabled:active, 

.btn-browse[disabled]:active, 

fieldset[disabled] .btn-browse:active, 

.btn-browse.disabled.active, 

.btn-browse[disabled].active, 

fieldset[disabled] .btn-browse.active { 

  background-color: #611BBD; 

  border-color: #130269; 

} 

.btn-browse .badge { 

  color: #611BBD; 

  background-color: #ffffff; 

}



/* ############### UI FIXES ############### */


/* breadcrumbs always visible */

.Breadcrumbs-breadcrumbs {

	display: flex;

}

/* fix to move cpd obj paginator above preview */

.CompoundItemPagination-container {

	position: absolute;

	top: -60px;

	left: 30%;

}

/* fix to add the word view to the PDF expand button */

.ItemPDF-expandButton:after { 

	content: " Open PDF"; 

}

/* site navigation to display as traditional horizontal menu on 768px+ screens */

@media screen and (min-width: 768px) {

    .Header-controls,

    .Header-headerMenuLinks

    { position: static; } 

    .Header-hamburgerHolder

    { float: left; }   

    .Header-controls

    { width: 100%; }

    .Header-hamburgerHolder .btn-group button

    { display: none; }   

    .Header-headerMenuLinks

    { display: flex; flex-wrap: nowrap; background-color: #ffffff; border: none; box-shadow: none; }

    .Header-headerMenuLinks a

    { background-color: #ffffff!important; }

    .Header-headerMenuLinks li a:hover

    { border-radius: 4px; color: #000000!important; background-color: #9292ab!important; }

    .Header-headerMenuLinks h3

    { margin: 5px; color: #000000; }

} /* END MEDIA QUERY */



/* ############### FOOTER STYLES ############### */

ul.FooterNavigationLinks-footerLinksHolder {

	display:none;

}

.Footer-footerWrapper {

    -ms-flex: none;

    flex: none;

   	padding: 10px 0px 0px 0px;

}

footer {

    text-align: center;

    padding: 17px 0 18px 0;

	background-color: #E8E3D4;

}

footer li {

    display: inline;

    padding: 20px;

}

footer a {

    color: #000;

    text-decoration: none;

    padding: 8px 8px 8px 8px;

}

footer a:hover {

	color: #000;

    text-decoration: underline;

}

.copyright-bar-2 {

    height: 80px;

    padding-top: 28px;

    background-color: #E8E3D4;

    position: relative;

    bottom: 0;

}

.copyright-bar-2 p {

    color: #000;

    font-weight: 400;

    margin: 0;

}


/* CSS for Flexbox card method */

.list {

						width: 100%;

						overflow: hidden;

						display: -webkit-flex;

						display: -ms-flexbox;

						display: flex;



						-webkit-flex-wrap: wrap;

						-ms-flex-wrap: wrap;

						flex-wrap: wrap;

					}

.list__item {

							width: 33.333%;

							float: left;

							padding: 0px; /* 10 */



							display: -webkit-flex;

							display: -ms-flexbox;

							display: flex;

						}

.list__item__inner {

								width: 100%;

								color: #474d51;

								background-color: #fff;

								overflow: hidden;



								-webkit-box-shadow: 0 0.125rem 0.313rem rgba( 0, 0, 0, .2 ); /* 2 5 */

								box-shadow: 0 0.125rem 0.313rem rgba( 0, 0, 0, .2 ); /* 2 5 */

							}

.list__item img {

									width: 100%;

									display: block;

								}

.list__item figcaption {

									padding: 1.25rem; /* 20 */

								}


						/* JavaScript disabled */

html.no-js .list__item 	{

							width: 100%;

							float: none;

						}

html.no-js .list__item img {

								max-width: 9.375rem; /* 150 */

								float: right;

								margin-left: 1.25rem; /* 20 */

							}

@supports ( display: -webkit-flex ) or ( display: -ms-flex ) or ( display: flex ) {

							html.no-js .list__item

							{

								width: 25%;

								float: left;

							}

								html.no-js .list__item img

								{

									max-width: none;

									float: none;

									margin-left: 0;

								}

						}

@media screen and ( max-width: 50em ) /* 800 */ {

			.list__item

			{

				width: 50%; /* 2 items per row */

			}

			@supports ( display: -webkit-flex ) or ( display: -ms-flex ) or ( display: flex )

			{

				html.no-js .list__item

				{

					width: 50%;

				}

			}

		}

@media screen and ( max-width: 40em ) /* 640 */ {

			.list__item

			{

				width: 100%; /* 1 item per row */

			}

			@supports ( display: -webkit-flex ) or ( display: -ms-flex ) or ( display: flex )

			{

				html.no-js .list__item

				{

					width: 100%;

				}

			}

		}

@media screen and (max-width : 25em ) {

			.list__item

			{

				width: 100%; /* 1 item per row */

				float: none;

			}

				@supports ( display: -webkit-flex ) or ( display: -ms-flex ) or ( display: flex )

				{

					html.no-js .list__item

					{

						width: 100%;

					}

				}

				html.no-js .list__item img

				{

					max-width: none;

					float: none;

					margin-left: 0;

				}

		}


/* About Section */

.text_column {

	text-align: left;

	margin: 2%;

}


/* add text to action buttons */

@media (min-width: 960px) {



  .fa-download::after {

    content: "  Download ";

    white-space: pre;

    font-size: 1.125rem;

    font-family: "Helvetica Neue",Arial,Helvetica,Verdana,sans-serif;

    font-weight: bold;

  }



  .fa-print::after {

    content: "  Print ";

    white-space: pre;

    font-size: 1.125rem;

    font-family: "Helvetica Neue",Arial,Helvetica,Verdana,sans-serif;

    font-weight: bold;

  }



}

.btn-primary .fa-expand::after {

  content: "  Expand ";

  white-space: pre;

  font-size: 1.125rem;

  font-family: "Helvetica Neue",Arial,Helvetica,Verdana,sans-serif;

  font-weight: bold;

}






/* ############### HEADER STYLES ############### */

.Header-headerMenuLinks li a:focus, .Header-headerMenuLinks li a:hover {

	background-color: #fff!important;

	color: #434343!important;

	text-decoration: none;

	}

.Header-headerMenuLinks li a:hover h3 {

	color: #434343!important

}

.Header-logoNameContainer {

	padding: 0px;

	margin: 0px;

	background: #4a2e83;

}

.Header-logoNameContainer .undefined {

    margin-top: 0px;

}

img.Header-logoImage {
	padding: 0px;
    margin: 0px!important;
}

.Header-header {

		height:auto;

		padding-bottom: 40px; 

}

.Header-hamburgerHolder a {

	color: #ffffff;

}

.SimpleSearch-searchInput {

    margin-top: 5px;

}

@media (min-width: 768px) {
    .CoreLayout-mainWrapperContainer {margin-top:150px;}
}

@charset "utf-8";
/* CSS Document */

