@charset "utf-8";
/* CSS Document */
@import 'styles/_variables';

.CollView-collViewContainer {
    margin-bottom: 10px;
    composes: box from "styles/shared.css";
    padding: 10px 10px 0 10px;
    flex-grow: 1;
}

/**
 * The side column are hidden on mobile devices.
 */
.collView-sideColumn {
    display: none;
}

.collView-bottomBorder {
    border-bottom: 10px solid #CCC;
}

.collView-bottomSinglecollBorder {
    border-bottom: 5px solid #CCC;
}

.collView-collTitle {
    border-bottom: 1px solid #CCCCCC;
    padding-bottom: 5px;
    margin-bottom: 1.2em;
}

.collView-collNoFile {
    font-weight: bold;
    margin-bottom: 15px;
}

.collView-collMetadata {
    margin-top: 3px;
    margin-bottom: 25px;
}

.alertContainer {
    display: flex;
    justify-content: center;

    .alert {
        width: 100%;
    }
}

.collView-mainColumn .collView-collSearchContainer {
    background-color: #EFEFEF;
    margin: 10px -15px;
    padding: 5px;
    border: 5px solid #CCC;
}

.collView-mainColumn .collView-compoundcollViewerContainer {
    margin: 10px -15px;
    border-top: 10px solid #CCC;
    padding-top: 5px;
}

.collView-mainColumn .collView-compoundcollViewerContainer hr {
    margin: -10px;
    padding: 10px 10px 5px;
    height: 1px;
    border-top: 5px solid #666;
}

.collView-mainColumn .collView-compoundcollViewer,
.collView-mainColumn .collView-treeViewer {
    margin: 15px;
}

.collView-panelContainer > div {
    margin: 15px 0;
}

.collView-panelContainer div {
    border: 0!important;
    box-shadow: none;
}


// Current responsive style for fitting images on handheld devices
img {
    max-width: 100%
}


/**
 * On desktop devices, show the side column, and hide the
 * duplicated components (option and search) in the main column.
 */
@media (min-width: $breakpoint-sm) {

    .collView-collViewContainer {
        margin-bottom: 10px;
        composes: box from "styles/shared.css";
        padding: 10px;
        flex-grow: 1;
    }

    .collView-sideColumn .collView-compoundcollViewerContainer hr {
        display: none;
    }

    .collView-mainColumn .collView-compoundcollViewerContainer {
        margin: 0 15px;
        border: none;
    }

    .collView-sideColumn {
        display: block;
        padding-left: 5px;
    }

    .collView-sideColumn .collView-compoundcollViewerContainer {
        background-color: #EFEFEF;
    }

    .collView-sideColumn .collView-collSearchContainer {
        background-color: #EFEFEF;
        margin-top: 10px;
        padding: 5px;
        border-top: 5px solid #CCC;
    }

    .collView-mainColumn .collView-compoundcollViewer,
    .collView-mainColumn .collView-treeViewer,
    .collView-mainColumn .collView-options,
    .collView-mainColumn .collView-collViewPager,
    .collView-mainColumn .collView-search,
    .collView-mainColumn .collView-results,
    .collView-mainColumn .collView-collSearchContainer {
        display: none;
    }

    @media print {
        .collView-sideColumn {
            display: none;
        }
    }
}

@media print {
    div {
        float: none !important;
        position: static !important;
        display: inline;
        box-sizing: content-box !important;
    }

    .collView-collTitle, .collView-mainColumn {
        page-break-before: avoid;
        break-before: avoid;
        page-break-inside:avoid;
        break-inside: avoid;
    }

    .collView-sideColumn {
        display: none;
    }

    .collView-panelContainer {
        &:before, &:after{
            display: table;
            content: " ";
            clear: both;
        }
    }
}

@import 'styles/_variables';
@value text-color from 'styles/colors.css';

.collSearch-collSearchButton a {
    color: #ffffff;
}

.collSearch-collHeaderButtonPadding, .collSearch-collStackedHeaderButtonPadding {
    margin-right: 5px;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem !important;
}

.collSearch-collSearchInput {
    flex: 2 0 0px;
    margin: 5px 10px 0 5px;
}

.collSearch-collSearchLabel {
    width: 100%;
    text-align: left;
    padding-left: 5px;
    margin-bottom: 0;
    color: #434343;
    font-size: 0.875rem;
    font-weight: normal;
}

.collSearch-collSearchInput > div {
    font-size: .875rem;
    font-weight: bold;
}

.collSearch-collSearchInputControl {
    font-size: 1rem;
    color: text-color;
    width: 100%;
}

.collSearch-collSearchResults {
    font-size: .875rem;
    font-weight: bold;
    display: block;
    padding-left: 5px;
    color: #434343;
}

.collView-collSearchContainer {
    background-color: #EFEFEF;
    margin-top: 10px;
    padding: 5px;
    border-top: 5px solid #aaa;
}

.collSearch-collSearchControl {
    display: flex;
    flex-wrap: nowrap;
    align-colls: flex-end;
}

@media screen and (min-width: $breakpoint-sm)  {
    .collSearch-collSearchInput {
        top: 60px;
    }

    .collSearch-collSearchInputControl {
        font-size: 17px !important;
        top: 10px;
    }
}

@media print {
    .collSearch-collSearchPrint {
        display: none;
    }
}

